{
  "openapi": "3.1.0",
  "info": {
    "title": "Afribox API",
    "version": "2.0.0",
    "description": "API du backend Afribox (SmartParcel). Tous les points d'accès acceptent du JSON en POST (sauf indication contraire). L'authentification se fait via un `apikey` dans le corps de la requête : une clé d'application, une clé publique d'entreprise ou une clé secrète d'entreprise. Le statut HTTP est toujours 200 ; le résultat est indiqué dans le corps via `statuscode` (`00` = succès) et `statusmessage`."
  },
  "servers": [
    {
      "url": "https://afriboxapi.smartparcel.ng/v2",
      "description": "Afribox production (v2)"
    }
  ],
  "tags": [
    {
      "name": "core",
      "description": "Données de référence publiques : États, villes, casiers, tailles, frais, coursiers, zones de livraison."
    },
    {
      "name": "customer",
      "description": "Comptes clients : inscription/connexion/OTP, profil, cartes enregistrées, colis, assistance."
    },
    {
      "name": "business",
      "description": "Comptes entreprises/partenaires : tableau de bord, casiers, colis, portefeuille, historique des transactions."
    },
    {
      "name": "kiosk",
      "description": "Opérations du casier/appareil : configuration, ping, dépôt/retrait de colis, réservation/vérification appless, instantanés."
    },
    {
      "name": "pay",
      "description": "Paiements : recherche/succès du paiement d'un colis, et les points Paystack initialize/verify/status/return/webhook."
    },
    {
      "name": "parcel",
      "description": "Preuves de livraison (instantanés) : liste, récupération, image."
    },
    {
      "name": "admin",
      "description": "Opérations d'administration : liste des entreprises et transactions de portefeuille."
    }
  ],
  "paths": {
    "/admin/businesses/list/": {
      "post": {
        "operationId": "post_admin_businesses_list",
        "summary": "Lister les entreprises",
        "tags": [
          "admin"
        ],
        "description": "List businesses with their balance and network. Requires the **admin key**; scoped to its network (or all networks for a global key).",
        "x-auth": "none",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/availableboxes/all/": {
      "post": {
        "operationId": "post_business_availableboxes_all",
        "summary": "Casiers disponibles (tous)",
        "tags": [
          "business"
        ],
        "description": "Les boîtes affectées à l'entreprise qui sont en service et ont au moins un compartiment libre.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/availableboxes/city/": {
      "post": {
        "operationId": "post_business_availableboxes_city",
        "summary": "Entreprise: Casiers disponibles par ville",
        "tags": [
          "business"
        ],
        "description": "Les boîtes affectées à l'entreprise, en service et ayant un compartiment libre, dans une ville.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByCity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByCityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/availableboxes/state/": {
      "post": {
        "operationId": "post_business_availableboxes_state",
        "summary": "Entreprise: Casiers disponibles par État",
        "tags": [
          "business"
        ],
        "description": "Les boîtes affectées à l'entreprise, en service et ayant un compartiment libre, dans un État.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByStateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/balance/": {
      "post": {
        "operationId": "post_business_balance",
        "summary": "Solde du portefeuille",
        "tags": [
          "business"
        ],
        "description": "The business wallet balance (formatted, e.g. `\"6,400.00\"`).",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsBalance"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsBalanceResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "balance": "6,400.00"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/boxes/all/": {
      "post": {
        "operationId": "post_business_boxes_all",
        "summary": "Casiers de l'entreprise (tous)",
        "tags": [
          "business"
        ],
        "description": "Toutes les boîtes affectées à l'entreprise, quel que soit leur état de service et qu'elles aient ou non un compartiment libre.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/boxes/assigned/": {
      "post": {
        "operationId": "post_business_boxes_assigned",
        "summary": "Casiers attribués",
        "tags": [
          "business"
        ],
        "description": "Les boîtes affectées à l'entreprise qui sont en service.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/boxes/city/": {
      "post": {
        "operationId": "post_business_boxes_city",
        "summary": "Entreprise: Casiers par ville",
        "tags": [
          "business"
        ],
        "description": "Les boîtes affectées à l'entreprise dans une ville, quel que soit leur état de service.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByCity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByCityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/boxes/info/": {
      "post": {
        "operationId": "post_business_boxes_info",
        "summary": "Entreprise: Détails d'un casier",
        "tags": [
          "business"
        ],
        "description": "Une boîte affectée à l'entreprise (clé d'entreprise). Pour n'importe quelle boîte du réseau, utilisez `/core/boxes/info/` avec la clé d'application.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/boxes/state/": {
      "post": {
        "operationId": "post_business_boxes_state",
        "summary": "Entreprise: Casiers par État",
        "tags": [
          "business"
        ],
        "description": "Les boîtes affectées à l'entreprise dans un État, quel que soit leur état de service.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByStateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/cancelledparcels/": {
      "post": {
        "operationId": "post_business_cancelledparcels",
        "summary": "Entreprise: Colis annulés",
        "tags": [
          "business"
        ],
        "description": "The business's cancelled parcels.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsCancelledParcels"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsCancelledParcelsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/cities/all/": {
      "post": {
        "operationId": "post_business_cities_all",
        "summary": "Villes (toutes)",
        "tags": [
          "business"
        ],
        "description": "The cities covered by the business's network.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CitiesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/cities/state/": {
      "post": {
        "operationId": "post_business_cities_state",
        "summary": "Entreprise: Villes par État",
        "tags": [
          "business"
        ],
        "description": "The cities of one state, for the business.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CitiesListByState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesListByStateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/dashboard/": {
      "post": {
        "operationId": "post_business_dashboard",
        "summary": "Tableau de bord de l'entreprise",
        "tags": [
          "business"
        ],
        "description": "The business dashboard counters (boxes, lockers, parcels, pending, cancelled, totals).",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsDashboard"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsDashboardResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "dashboard": {
                    "boxes": "5",
                    "lockers": "185",
                    "users": "1",
                    "parcelspendingdropoffs": "0",
                    "parcelspendingpickups": "0",
                    "parcelspickedup": "20",
                    "parcelsretrieved": "0",
                    "parcelscancelled": "0",
                    "parcelstotal": "20",
                    "lockersvacant": "175",
                    "lockersreserved": "8",
                    "lockersoccupied": "2",
                    "lockerstotal": "185"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/draft/deliveryareas/": {
      "post": {
        "operationId": "post_business_draft_deliveryareas",
        "summary": "Zones de livraison (brouillon)",
        "tags": [
          "business"
        ],
        "description": "**Obsolète** — utilisez `/core/deliveryareas/list/`. Données de référence pour un sélecteur de création de colis.",
        "x-auth": "business_public",
        "x-readonly": true,
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryAreasList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryAreasListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/draft/parceltypes/": {
      "post": {
        "operationId": "post_business_draft_parceltypes",
        "summary": "Types de colis (brouillon)",
        "tags": [
          "business"
        ],
        "description": "**Obsolète** — utilisez `/core/requesttypes/list/`. Données de référence pour un sélecteur de création de colis. La création de colis d'entreprise est fixée au type 6 (Ramassage sur place) ; cette liste est informative.",
        "x-auth": "business_public",
        "x-readonly": true,
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestTypesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTypesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/info/all/": {
      "post": {
        "operationId": "post_business_parcels_info_all",
        "summary": "Entreprise: Détails d'un colis et son historique",
        "tags": [
          "business"
        ],
        "description": "One business parcel **plus its `timelines`**, by `parceldetailid`.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelInfoAll"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelInfoAllResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/info/": {
      "post": {
        "operationId": "post_business_parcels_info",
        "summary": "Entreprise: Détails d'un colis",
        "tags": [
          "business"
        ],
        "description": "One business parcel, by `parceldetailid`.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/reports/": {
      "post": {
        "operationId": "post_business_parcels_reports",
        "summary": "Entreprise: Rapports de colis",
        "tags": [
          "business"
        ],
        "description": "Les colis de l'entreprise dans une plage de dates. `datefrom`/`dateto` acceptent `YYYY-MM-DD` ou `MM/DD/YYYY` (mois d'abord) ; voir *Dates et fuseaux horaires*.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelReports"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelReportsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/search/": {
      "post": {
        "operationId": "post_business_parcels_search",
        "summary": "Rechercher un colis d'entreprise par référence",
        "tags": [
          "business"
        ],
        "description": "Find one of the business's parcels by `parcelreferencenumber`.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaySearchParcel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaySearchParcelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/timeline/": {
      "post": {
        "operationId": "post_business_parcels_timeline",
        "summary": "Entreprise: Chronologie d'un colis",
        "tags": [
          "business"
        ],
        "description": "The status timeline of one business parcel.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelTimeline"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelTimelineResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/pendingpickups/": {
      "post": {
        "operationId": "post_business_pendingpickups",
        "summary": "Retraits en attente",
        "tags": [
          "business"
        ],
        "description": "Parcels already dropped into a locker and not yet collected (status 2).",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsPendingPickups"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsPendingPickupsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/pickedupparcels/": {
      "post": {
        "operationId": "post_business_pickedupparcels",
        "summary": "Colis retirés",
        "tags": [
          "business"
        ],
        "description": "The business's parcels already collected by the business.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsPickedUpParcels"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsPickedUpParcelsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/retrievedparcels/": {
      "post": {
        "operationId": "post_business_retrievedparcels",
        "summary": "Colis récupérés",
        "tags": [
          "business"
        ],
        "description": "The business's parcels retrieved from a locker.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsRetrievedParcels"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsRetrievedParcelsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/sizes/": {
      "post": {
        "operationId": "post_business_sizes",
        "summary": "Tailles disponibles",
        "tags": [
          "business"
        ],
        "description": "The size vocabulary available to the business.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SizesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SizesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/states/": {
      "post": {
        "operationId": "post_business_states",
        "summary": "États",
        "tags": [
          "business"
        ],
        "description": "The states covered by the business's network.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/transactionhistory/": {
      "post": {
        "operationId": "post_business_transactionhistory",
        "summary": "Historique des transactions",
        "tags": [
          "business"
        ],
        "description": "The business wallet ledger (credit/debit lines with narration, parcel reference and Paystack reference).",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsTransactionHistory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsTransactionHistoryResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "transactions": [
                    {
                      "transactionid": "1",
                      "datecreated": "8/27/2026 5:27:26 PM",
                      "type": "Debit",
                      "amount": "250",
                      "parcelreferencenumber": "4084708791",
                      "parceldetailid": "1002",
                      "elapsed": "",
                      "narration": "Parcel booking Ref: 4084708791",
                      "reference": ""
                    }
                  ],
                  "total": "1",
                  "page": "1",
                  "pagesize": "1"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/users/list/": {
      "post": {
        "operationId": "post_business_users_list",
        "summary": "Lister les utilisateurs du personnel de l'entreprise",
        "tags": [
          "business"
        ],
        "description": "Les utilisateurs actifs (`SYS_Users`) de l'entreprise — `userid`, `fullname`, `email`. Utilisez un `userid` comme `createdby` sur les écritures de portefeuille. Requiert la **clé publique** de l'entreprise.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUsersList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessUsersListResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "users": [
                    {
                      "userid": "1",
                      "fullname": "Ama Diallo",
                      "email": "ama@afribox.ci"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/billingtypes/list/": {
      "post": {
        "operationId": "post_core_billingtypes_list",
        "summary": "Lister les types de facturation",
        "tags": [
          "core"
        ],
        "description": "Billing types used by businesses (for example Prepaid, Postpaid).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingTypesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingTypesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/availability/": {
      "post": {
        "operationId": "post_core_boxes_availability",
        "summary": "Disponibilité des casiers",
        "tags": [
          "core"
        ],
        "description": "Free lockers by size for a box (counts only, no locker numbers).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxAvailabilityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/available/bycity/": {
      "post": {
        "operationId": "post_core_boxes_available_bycity",
        "summary": "Référentiel: Casiers disponibles par ville",
        "tags": [
          "core"
        ],
        "description": "Boxes that currently have at least one free locker, in one city.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByCity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByCityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/available/bystate/": {
      "post": {
        "operationId": "post_core_boxes_available_bystate",
        "summary": "Référentiel: Casiers disponibles par État",
        "tags": [
          "core"
        ],
        "description": "Boxes that currently have at least one free locker, in one state.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByStateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/available/list/": {
      "post": {
        "operationId": "post_core_boxes_available_list",
        "summary": "Lister les casiers disponibles",
        "tags": [
          "core"
        ],
        "description": "Boîtes actives du réseau ayant au moins un compartiment libre (`lockersavailable` vaut `True`, c.-à-d. `lockersfree` > 0). « Disponible » signifie un compartiment libre, non l'état de service de la boîte.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/bycity/": {
      "post": {
        "operationId": "post_core_boxes_bycity",
        "summary": "Référentiel: Casiers par ville",
        "tags": [
          "core"
        ],
        "description": "Boxes in a given city.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByCity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByCityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/bystate/": {
      "post": {
        "operationId": "post_core_boxes_bystate",
        "summary": "Référentiel: Casiers par État",
        "tags": [
          "core"
        ],
        "description": "Boxes in a given state.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByStateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/info/": {
      "post": {
        "operationId": "post_core_boxes_info",
        "summary": "Référentiel: Détails d'un casier",
        "tags": [
          "core"
        ],
        "description": "One box with its counters, its physical lockers (`lockers[]`) and its service state (`boxonline`, `datelastping`).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesInfoResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "box": {
                    "boxid": "4",
                    "boxname": "Afribox Cocody",
                    "networkid": "2",
                    "networkname": "Afribox",
                    "boxonline": "True",
                    "datelastping": "9/22/2026 1:07:44 PM",
                    "lockersinuse": "5",
                    "lockersfree": "32"
                  },
                  "lockersizes": [],
                  "lockers": [
                    {
                      "boxlockerid": "1",
                      "boxlockernumber": "1",
                      "sizeid": "3"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/list/": {
      "post": {
        "operationId": "post_core_boxes_list",
        "summary": "Lister les casiers",
        "tags": [
          "core"
        ],
        "description": "Toutes les boîtes actives du réseau de la clé appelante.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/cities/bystate/": {
      "post": {
        "operationId": "post_core_cities_bystate",
        "summary": "Référentiel: Villes par État",
        "tags": [
          "core"
        ],
        "description": "Cities of a given state.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CitiesListByState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesListByStateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/cities/info/": {
      "post": {
        "operationId": "post_core_cities_info",
        "summary": "Détails d'une ville",
        "tags": [
          "core"
        ],
        "description": "One city, by id.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CitiesInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/cities/list/": {
      "post": {
        "operationId": "post_core_cities_list",
        "summary": "Lister les villes",
        "tags": [
          "core"
        ],
        "description": "All cities.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CitiesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/couriers/list/": {
      "post": {
        "operationId": "post_core_couriers_list",
        "summary": "Lister les coursiers",
        "tags": [
          "core"
        ],
        "description": "Courier companies known to the network.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouriersList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouriersListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/deliveryareas/list/": {
      "post": {
        "operationId": "post_core_deliveryareas_list",
        "summary": "Lister les zones de livraison",
        "tags": [
          "core"
        ],
        "description": "Delivery areas, optionally filtered by state.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryAreasList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryAreasListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/fees/appless/": {
      "post": {
        "operationId": "post_core_fees_appless",
        "summary": "Frais appless",
        "tags": [
          "core"
        ],
        "description": "Frais de réservation appless par taille — le barème que `/business/parcels/create/` débite. Barème actuel (en vigueur le 23 septembre 2026) : Petit 500, Moyen 750, Grand 1250, XGrand 2000. Remplace l'ancien barème 250/600/1000 « Parcel reservation fee ».",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeesAppless"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeesApplessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/fees/compute/": {
      "post": {
        "operationId": "post_core_fees_compute",
        "summary": "Calcul des frais",
        "tags": [
          "core"
        ],
        "description": "Calcule les frais pour un type de demande et une taille. Les **types de demande 4** (Application de casier) et **6** (Ramassage sur place) renvoient les frais de réservation appless que `/business/parcels/create/` débitera.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeesCompute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeesComputeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/fees/selfstorage/": {
      "post": {
        "operationId": "post_core_fees_selfstorage",
        "summary": "Frais de self-stockage",
        "tags": [
          "core"
        ],
        "description": "Self-storage fee per size, per six hours and per hour.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeesSelfStorage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeesSelfStorageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/fees/service/": {
      "post": {
        "operationId": "post_core_fees_service",
        "summary": "Frais de service",
        "tags": [
          "core"
        ],
        "description": "Send-parcel service fee per size.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeesService"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeesServiceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/lockerstatuses/list/": {
      "post": {
        "operationId": "post_core_lockerstatuses_list",
        "summary": "Lister les statuts de casier",
        "tags": [
          "core"
        ],
        "description": "Le vocabulaire des statuts de casier : 1 Vacant, 2 Réservé, 3 Occupé.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LockerStatusesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LockerStatusesListResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "lockerstatuses": [
                    {
                      "lockerstatusid": "1",
                      "lockerstatus": "Vacant",
                      "lockerstatusdescription": "Locker is empty. No parcel is in it."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/parcels/search/": {
      "post": {
        "operationId": "post_core_parcels_search",
        "summary": "Rechercher un colis",
        "tags": [
          "core"
        ],
        "description": "Find any parcel in the network by `parcelreferencenumber`.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaySearchParcel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaySearchParcelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/parcelstatuses/list/": {
      "post": {
        "operationId": "post_core_parcelstatuses_list",
        "summary": "Lister les statuts de colis",
        "tags": [
          "core"
        ],
        "description": "Le vocabulaire des statuts de colis (1 Nouvelle demande … 7 Colis collecté par la messagerie).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParcelStatusesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelStatusesListResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "parcelstatuses": [
                    {
                      "parcelstatusid": "1",
                      "parcelstatus": "New parcel request",
                      "parcelstatusdescription": "Parcel request created"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/requesttypes/list/": {
      "post": {
        "operationId": "post_core_requesttypes_list",
        "summary": "Lister les types de demande",
        "tags": [
          "core"
        ],
        "description": "Le vocabulaire des types de demande de colis. La création **client** peut utiliser `1` (Envoyer un colis), `2` (Self-stockage) et `3` (Client à client) ; la création **entreprise** est fixée à `6` (Ramassage sur place) ; `7`, `8`, `9` relèvent de la logistique entreprise ; `4` est le flux appless du casier. Les libellés sont servis sans espaces superflus.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestTypesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTypesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/sizes/fees/": {
      "post": {
        "operationId": "post_core_sizes_fees",
        "summary": "Frais par taille",
        "tags": [
          "core"
        ],
        "description": "Frais par taille pour une boîte et un type de demande (**les types 4 et 6** renvoient les frais de réservation appless).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SizesFees"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SizesFeesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/sizes/info/": {
      "post": {
        "operationId": "post_core_sizes_info",
        "summary": "Détails d'une taille",
        "tags": [
          "core"
        ],
        "description": "One size, by id.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SizesInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SizesInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/sizes/list/": {
      "post": {
        "operationId": "post_core_sizes_list",
        "summary": "Lister les tailles",
        "tags": [
          "core"
        ],
        "description": "The size vocabulary (Petit, Moyen, Grand, XGrand).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SizesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SizesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/states/info/": {
      "post": {
        "operationId": "post_core_states_info",
        "summary": "Détails d'un État",
        "tags": [
          "core"
        ],
        "description": "One state, by id.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatesInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatesInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/states/list/": {
      "post": {
        "operationId": "post_core_states_list",
        "summary": "Lister les États",
        "tags": [
          "core"
        ],
        "description": "The state vocabulary.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatesListResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "states": [
                    {
                      "stateid": "1",
                      "statecode": "AB",
                      "statename": "Abidjan",
                      "countcities": "4",
                      "countboxes": "4",
                      "statedescription": "Abidjan (4 Locations)"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/walletfundmodes/list/": {
      "post": {
        "operationId": "post_core_walletfundmodes_list",
        "summary": "Lister les modes d'alimentation du portefeuille",
        "tags": [
          "core"
        ],
        "description": "Wallet funding modes (for example Online/Card, Paystack).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletFundModesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletFundModesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/cards/info/": {
      "post": {
        "operationId": "post_customer_cards_info",
        "summary": "Détails d'une carte",
        "tags": [
          "customer"
        ],
        "description": "One of the customer's saved cards.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCardsInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCardsInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/cards/list/": {
      "post": {
        "operationId": "post_customer_cards_list",
        "summary": "Lister les cartes",
        "tags": [
          "customer"
        ],
        "description": "The customer's saved cards.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCardsList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCardsListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/dashboard/": {
      "post": {
        "operationId": "post_customer_dashboard",
        "summary": "Tableau de bord client",
        "tags": [
          "customer"
        ],
        "description": "The customer's dashboard counters (new requests, in locker, enroute, delivered).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDashboard"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDashboardResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "dashboard": {
                    "newrequests": "0",
                    "inlocker": "0",
                    "enroutetorecipient": "0",
                    "delivered": "0"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/info/": {
      "post": {
        "operationId": "post_customer_info",
        "summary": "Informations client",
        "tags": [
          "customer"
        ],
        "description": "The customer's profile.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/all/": {
      "post": {
        "operationId": "post_customer_parcels_all",
        "summary": "Tous les colis",
        "tags": [
          "customer"
        ],
        "description": "All of the customer's parcels, newest first.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelAll"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelAllResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/archived/": {
      "post": {
        "operationId": "post_customer_parcels_archived",
        "summary": "Colis archivés",
        "tags": [
          "customer"
        ],
        "description": "The customer's archived parcels (status 6).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelArchived"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelArchivedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/cancelled/": {
      "post": {
        "operationId": "post_customer_parcels_cancelled",
        "summary": "Client: Colis annulés",
        "tags": [
          "customer"
        ],
        "description": "The customer's cancelled parcels.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelCancelled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelCancelledResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/delivered/": {
      "post": {
        "operationId": "post_customer_parcels_delivered",
        "summary": "Colis livrés",
        "tags": [
          "customer"
        ],
        "description": "The customer's parcels collected by the recipient (status 4).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelDelivered"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelDeliveredResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/enroutetorecipient/": {
      "post": {
        "operationId": "post_customer_parcels_enroutetorecipient",
        "summary": "Colis en route vers le destinataire",
        "tags": [
          "customer"
        ],
        "description": "The customer's parcels travelling to the recipient (status 3).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelEnrouteToRecipient"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelEnrouteToRecipientResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/info/all/": {
      "post": {
        "operationId": "post_customer_parcels_info_all",
        "summary": "Client: Détails d'un colis et son historique",
        "tags": [
          "customer"
        ],
        "description": "Despite the `all` in the path, this takes a single `parceldetailid` and returns that one parcel **plus its `timelines`**.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelInfoAll"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelInfoAllResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/info/": {
      "post": {
        "operationId": "post_customer_parcels_info",
        "summary": "Client: Détails d'un colis",
        "tags": [
          "customer"
        ],
        "description": "Returns a single parcel of the customer, by `parceldetailid`, without its timeline.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/inlocker/": {
      "post": {
        "operationId": "post_customer_parcels_inlocker",
        "summary": "Colis en casier",
        "tags": [
          "customer"
        ],
        "description": "The customer's parcels held in a locker and not yet collected (status 2 or 7).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelInLocker"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelInLockerResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/newrequests/": {
      "post": {
        "operationId": "post_customer_parcels_newrequests",
        "summary": "Nouvelles demandes de colis",
        "tags": [
          "customer"
        ],
        "description": "The customer's new parcel requests (status 1).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelNewRequests"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelNewRequestsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/reports/": {
      "post": {
        "operationId": "post_customer_parcels_reports",
        "summary": "Client: Rapports de colis",
        "tags": [
          "customer"
        ],
        "description": "Les colis du client créés dans une plage de dates. `datefrom`/`dateto` acceptent `YYYY-MM-DD` ou `MM/DD/YYYY` (mois d'abord) ; voir *Dates et fuseaux horaires*.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelReports"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
[...]
