{
  "openapi": "3.1.0",
  "info": {
    "title": "Afribox API",
    "version": "2.0.0",
    "description": "API du backend Afribox (SmartParcel). Tous les points d'accès acceptent du JSON en POST (sauf indication contraire). L'authentification se fait via un `apikey` dans le corps de la requête : une clé d'application, une clé publique d'entreprise ou une clé secrète d'entreprise. Le statut HTTP est toujours 200 ; le résultat est indiqué dans le corps via `statuscode` (`00` = succès) et `statusmessage`."
  },
  "servers": [
    {
      "url": "https://afriboxapi.smartparcel.ng/v2",
      "description": "Afribox production (v2)"
    }
  ],
  "tags": [
    {
      "name": "core",
      "description": "Données de référence publiques : États, villes, casiers, tailles, frais, coursiers, zones de livraison."
    },
    {
      "name": "customer",
      "description": "Comptes clients : inscription/connexion/OTP, profil, cartes enregistrées, colis, assistance."
    },
    {
      "name": "business",
      "description": "Comptes entreprises/partenaires : tableau de bord, casiers, colis, portefeuille, historique des transactions."
    },
    {
      "name": "kiosk",
      "description": "Opérations du casier/appareil : configuration, ping, dépôt/retrait de colis, réservation/vérification appless, instantanés."
    },
    {
      "name": "pay",
      "description": "Paiements : recherche/succès du paiement d'un colis, et les points Paystack initialize/verify/status/return/webhook."
    },
    {
      "name": "parcel",
      "description": "Preuves de livraison (instantanés) : liste, récupération, image."
    },
    {
      "name": "admin",
      "description": "Opérations d'administration : liste des entreprises et transactions de portefeuille."
    }
  ],
  "paths": {
    "/admin/businesses/wallettransaction/new/": {
      "post": {
        "operationId": "post_admin_businesses_wallettransaction_new",
        "summary": "Créer une écriture de portefeuille pour une entreprise (admin)",
        "tags": [
          "admin"
        ],
        "description": "Insère un mouvement de portefeuille pour une entreprise. Requiert la **clé admin** ; refuse les entreprises hors de son réseau. `wallettransactiontypeid` 1 = Credit, 2 = Debit ; `walletfundmodeid` 1/2/3. `createdby` est facultatif (identifiant utilisateur numérique ; défaut : 0).",
        "x-auth": "none",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminBusinessWalletTransactionInsert"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessWalletTransactionInsertResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/cancel/": {
      "post": {
        "operationId": "post_business_parcels_cancel",
        "summary": "Annuler un colis",
        "tags": [
          "business"
        ],
        "description": "Cancels a business parcel awaiting drop-off, releases its locker and refunds the reservation fee to the wallet. Requires the **Business secret key**. The response carries `refundedamount`.",
        "x-auth": "business_secret",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelCancelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/create/": {
      "post": {
        "operationId": "post_business_parcels_create",
        "summary": "Créer un colis d'entreprise",
        "tags": [
          "business"
        ],
        "description": "Crée un colis pour le compte de l'entreprise et réserve un casier. Le type de demande est toujours **6** (Ramassage sur place / réservation appless) — ce n'est pas un champ de la requête. Débite les frais de réservation du portefeuille (prépayé) et fixe l'échéance de dépôt (`expiresat`, 72 h par défaut). Requiert la **clé secrète** de l'entreprise. Prend en charge un en-tête `Idempotency-Key` facultatif. Pour une entreprise prépayée avec un solde insuffisant : `statuscode` 99, `errorcode` `INSUFFICIENT_BALANCE`. Si le colis n'est jamais déposé, la réservation expire (statut 8), le casier est libéré et les frais sont perdus (pas de remboursement).",
        "x-auth": "business_secret",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelNew"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelNewResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/retrieve/": {
      "post": {
        "operationId": "post_business_parcels_retrieve",
        "summary": "Récupérer un colis",
        "tags": [
          "business"
        ],
        "description": "Business action to retrieve a parcel that is in a locker (status 2). Requires the secret key.",
        "x-auth": "business_secret",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/pendingdropoffs/": {
      "post": {
        "operationId": "post_business_pendingdropoffs",
        "summary": "Dépôts en attente",
        "tags": [
          "business"
        ],
        "description": "Requiert la **clé publique** ; `dropcode`/`collectcode` sont masqués en `\"****\"`.",
        "x-auth": "business_public",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsPendingDropoffs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsPendingDropoffsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/wallettransaction/new/": {
      "post": {
        "operationId": "post_business_wallettransaction_new",
        "summary": "Créer une écriture de portefeuille pour l'entreprise",
        "tags": [
          "business"
        ],
        "description": "Insère un mouvement de portefeuille pour l'entreprise. Requiert la **clé secrète**. `wallettransactiontypeid` 2 = Debit uniquement — **Credit réservé à l'admin** (`99` sinon). `walletfundmodeid` 1/2/3 ; les ajustements manuels utilisent 2 (Back Office). `createdby` est facultatif (identifiant utilisateur numérique ; défaut : utilisateur principal de l'entreprise).",
        "x-auth": "business_secret",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessWalletTransactionInsert"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessWalletTransactionInsertResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/wallettransactiontypes/list/": {
      "post": {
        "operationId": "post_core_wallettransactiontypes_list",
        "summary": "Lister les types de transaction du portefeuille",
        "tags": [
          "core"
        ],
        "description": "Wallet transaction types: `1` Credit, `2` Debit.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletTransactionTypesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletTransactionTypesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/cards/add/": {
      "post": {
        "operationId": "post_customer_cards_add",
        "summary": "Ajouter une carte",
        "tags": [
          "customer"
        ],
        "description": "Start adding a saved card; returns the Paystack authorization URL to complete in the browser.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCardsAdd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCardsAddResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/cards/delete/": {
      "post": {
        "operationId": "post_customer_cards_delete",
        "summary": "Supprimer une carte",
        "tags": [
          "customer"
        ],
        "description": "Delete one of the customer's saved cards.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCardsDelete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCardsDeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/cards/setdefault/": {
      "post": {
        "operationId": "post_customer_cards_setdefault",
        "summary": "Définir la carte par défaut",
        "tags": [
          "customer"
        ],
        "description": "Mark one of the customer's cards as the default.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCardsSetDefault"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCardsSetDefaultResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/changepassword/": {
      "post": {
        "operationId": "post_customer_changepassword",
        "summary": "Changer le mot de passe",
        "tags": [
          "customer"
        ],
        "description": "Change the customer's password; requires the current `oldpassword`.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerChangePassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerChangePasswordResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/edit/": {
      "post": {
        "operationId": "post_customer_edit",
        "summary": "Modifier le profil",
        "tags": [
          "customer"
        ],
        "description": "Update the customer's display name.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerEdit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerEditResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/forgotpassword/": {
      "post": {
        "operationId": "post_customer_forgotpassword",
        "summary": "Mot de passe oublié",
        "tags": [
          "customer"
        ],
        "description": "Start a password reset; the code goes to the registered contact.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerForgotPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerForgotPasswordResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/login/": {
      "post": {
        "operationId": "post_customer_login",
        "summary": "Connexion",
        "tags": [
          "customer"
        ],
        "description": "Authenticates a customer and returns the profile, the dashboard counters and a dated, revocable `sessiontoken`. Customer read endpoints accept `sessiontoken` in place of `customerid`.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLogin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLoginResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "customer": {
                    "customerid": "1",
                    "customername": "Ama",
                    "networkid": "2",
                    "networkname": "Afribox",
                    "emailaddress": "ama@example.com",
                    "phonenumber": "0104554198",
                    "passwordreset": "False",
                    "customeractive": "True"
                  },
                  "dashboard": {
                    "newrequests": "0",
                    "inlocker": "0",
                    "enroutetorecipient": "0",
                    "delivered": "0"
                  },
                  "sessiontoken": "<uuid>",
                  "sessionexpires": "2026-10-24 00:00:00"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/otp/resend/": {
      "post": {
        "operationId": "post_customer_otp_resend",
        "summary": "Renvoyer l'OTP",
        "tags": [
          "customer"
        ],
        "description": "Resend the signup verification code to the **registered** contact (no account-existence disclosure).",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OTPResend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTPResendResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/otp/verify/": {
      "post": {
        "operationId": "post_customer_otp_verify",
        "summary": "Vérifier l'OTP",
        "tags": [
          "customer"
        ],
        "description": "Verify the signup code and activate the account.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OTPVerify"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTPVerifyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/cancel/": {
      "post": {
        "operationId": "post_customer_parcels_cancel",
        "summary": "Annuler un colis du client",
        "tags": [
          "customer"
        ],
        "description": "Cancels the customer's own parcel (status 1, awaiting drop-off) and releases its locker. The parcel must carry the caller's `customerid` (or a valid `sessiontoken`).",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelCancelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/hold/": {
      "post": {
        "operationId": "post_customer_parcels_hold",
        "summary": "Mettre un colis en attente (paiement Paystack)",
        "tags": [
          "customer"
        ],
        "description": "Réserve un casier pour une courte fenêtre de paiement d'abord (**15 minutes**) pendant que le payeur termine Paystack ; le casier est libéré automatiquement à l'expiration (tâche de 2 minutes, plus nettoyage opportuniste).",
        "x-auth": "paystack_dual",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParcelHold"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelHoldResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/hold/release/": {
      "post": {
        "operationId": "post_customer_parcels_hold_release",
        "summary": "Lever la mise en attente",
        "tags": [
          "customer"
        ],
        "description": "Release a checkout hold and free its locker.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParcelHoldRelease"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelHoldReleaseResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/new/": {
      "post": {
        "operationId": "post_customer_parcels_new",
        "summary": "Créer un colis client",
        "tags": [
          "customer"
        ],
        "description": "Crée un colis client et réserve un casier, en fixant l'échéance de dépôt (`expiresat`, 72 h par défaut). `requesttypeid` doit être `1` (Envoyer un colis — requiert aussi `recipientaddress` et `deliveryareaid`), `2` (Self-stockage) ou `3` (Client à client — requiert nom/téléphone/email du destinataire). Les autres types sont refusés. S'il n'est jamais déposé, la réservation expire (statut 8) et le casier est libéré.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelNew"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelNewResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/resetpassword/": {
      "post": {
        "operationId": "post_customer_resetpassword",
        "summary": "Réinitialiser le mot de passe",
        "tags": [
          "customer"
        ],
        "description": "Reset the password. Declares `oldpassword`; for a forgotten password use the OTP flow.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerResetPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResetPasswordResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/signup/": {
      "post": {
        "operationId": "post_customer_signup",
        "summary": "Inscription",
        "tags": [
          "customer"
        ],
        "description": "Register a customer; sends a one-time code. The response does **not** contain the code, and does not reveal whether the number already exists.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerSignup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSignupResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/support/": {
      "post": {
        "operationId": "post_customer_support",
        "summary": "Assistance",
        "tags": [
          "customer"
        ],
        "description": "Submit a support request for the customer.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerSupport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSupportResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/parcel/appless/reserve/": {
      "post": {
        "operationId": "post_kiosk_parcel_appless_reserve",
        "summary": "Réserver un casier (appless)",
        "tags": [
          "kiosk"
        ],
        "description": "Reserve a walk-in locker against a paid reference. The backend verifies the payment and claims it (single use).",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplessReserve"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplessReserveResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/parcel/appless/verify/": {
      "post": {
        "operationId": "post_kiosk_parcel_appless_verify",
        "summary": "Vérifier la disponibilité et le tarif (appless)",
        "tags": [
          "kiosk"
        ],
        "description": "Check availability and fee for **one** size (by `sizename`) for a walk-in user.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplessVerify"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplessVerifyResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "parcel": {
                    "sizeid": "1",
                    "sizename": "Petit",
                    "boxname": "Afribox Cocody",
                    "boxaddress": "Afribox Cocody",
                    "parcelamount": "500",
                    "boxlockerid": "5",
                    "boxlockernumber": "5"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/parcel/collect/": {
      "post": {
        "operationId": "post_kiosk_parcel_collect",
        "summary": "Retrait de colis",
        "tags": [
          "kiosk"
        ],
        "description": "Open a locker to collect a parcel; `unlockcode` is the parcel's `collectcode`.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectParcel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectParcelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/parcel/drop/": {
      "post": {
        "operationId": "post_kiosk_parcel_drop",
        "summary": "Dépôt de colis",
        "tags": [
          "kiosk"
        ],
        "description": "Open a locker to drop a parcel; `unlockcode` is the parcel's `dropcode`.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DropParcel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DropParcelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/parcel/snapshot/": {
      "post": {
        "operationId": "post_kiosk_parcel_snapshot",
        "summary": "Téléverser un instantané de colis",
        "tags": [
          "kiosk"
        ],
        "description": "Upload a proof-of-delivery snapshot (`snapshotevent` dropoff/pickup, `snapshotsequence` 1/2).",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnapshotUpload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotUploadResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/setup/": {
      "post": {
        "operationId": "post_kiosk_setup",
        "summary": "Configuration du casier",
        "tags": [
          "kiosk"
        ],
        "description": "Establishes a machine's identity from `boxcode` and returns the full box record. A write; safe to call again.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesSetup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesSetupResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/parcel/snapshots/": {
      "post": {
        "operationId": "post_parcel_snapshots",
        "summary": "Lister les instantanés d'un colis",
        "tags": [
          "parcel"
        ],
        "description": "Renvoie les instantanés de preuve de livraison pour un `parceldetailid`, chacun avec une `snapshoturl`. `snapshotevent` est `dropoff` ou `pickup` ; `snapshotsequence` est `1` (à l'ouverture) ou `2` (après fermeture de la porte). Trié par `DateCreated` puis `SnapshotSequence` (du plus ancien au plus récent, 1 avant 2 au sein d'un événement). `imagedatetime`/`datecreated` ont des companions ISO 8601.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParcelSnapshots"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelSnapshotsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/pay/initialize/": {
      "post": {
        "operationId": "post_pay_initialize",
        "summary": "Initialiser un paiement Paystack",
        "tags": [
          "pay"
        ],
        "description": "Crée une transaction Paystack. L'authentification accepte **soit** une clé secrète d'entreprise (B2B), **soit** une clé d'application avec un `customerid` facultatif (B2C). Le `amount` est en unité majeure — francs XOF ; le `×100` de la passerelle est appliqué en interne. Utilisez `metadata.parcelreference` pour marquer un colis payé, ou `metadata.fulfil=\"wallet\"` pour créditer le portefeuille d'une entreprise. La réponse contient `authorizationurl` (paiement hébergé) et `accesscode` (popup Paystack).",
        "x-auth": "paystack_dual",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaystackInitialize"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaystackInitializeResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "reference": "PRN123-1234567890",
                  "authorizationurl": "https://checkout.paystack.com/abc123",
                  "accesscode": "abc123"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/pay/success/": {
      "post": {
        "operationId": "post_pay_success",
        "summary": "Confirmer le paiement d'un colis",
        "tags": [
          "pay"
        ],
        "description": "Marks a parcel paid only when a successful payment bound to that parcel is found. The parcel and its `collectcode` are returned **only** when the payment is confirmed.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaySuccess"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaySuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/pay/verify/": {
      "post": {
        "operationId": "post_pay_verify",
        "summary": "Vérifier un paiement Paystack",
        "tags": [
          "pay"
        ],
        "description": "Vérifie un paiement par `reference`, l'enregistre et exécute le traitement (colis payé / crédit portefeuille) de façon idempotente. Un succès déjà enregistré n'est jamais rétrogradé ; rejouer une référence est sans danger (le traitement n'a lieu qu'une fois). Sur un statut non réussi, renvoie `statuscode` 99 « Payment not successful » avec `transactionstatus` = statut Paystack. Renvoie le `collectcode` du colis pour les paiements de colis. `amount`/`fees` sont en francs XOF (unité majeure) ; `paidat` est en ISO 8601 UTC.",
        "x-auth": "paystack_dual",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaystackVerify"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enveloppe de résultat (statuscode/statusmessage). Un `statuscode` différent de `00` indique une erreur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaystackVerifyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/pay/return/": {
      "get": {
        "operationId": "get_pay_return",
        "summary": "Page de retour de paiement",
        "description": "Page de retour hébergée. Vérifie le paiement, exécute le traitement, puis redirige vers `metadata.returnurl` si présent. Renvoie une page HTML (pas de JSON). Paramètres : `reference` (ou `trxref`).",
        "tags": [
          "pay"
        ],
        "x-readonly": false,
        "parameters": [
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trxref",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML landing page (Payment successful / not completed)."
          }
        }
      }
    },
    "/pay/webhook/paystack/": {
      "post": {
        "operationId": "post_pay_webhook_paystack",
        "summary": "Webhook Paystack",
        "description": "Webhook serveur à serveur. Paystack signe le corps brut en HMAC-SHA512 avec la clé secrète ; la signature est envoyée dans l'en-tête `x-paystack-signature` et validée. Gère `charge.success` et `charge.failed`. Renvoie HTTP 200 en cas de succès, 403 si la signature est invalide. Non appelé par les clients.",
        "tags": [
          "pay"
        ],
        "x-readonly": false,
        "parameters": [
          {
            "name": "x-paystack-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Paystack event payload."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledged"
          },
          "403": {
            "description": "Invalid signature"
          }
        }
      }
    },
    "/customer/cards/add/complete/": {
      "get": {
        "operationId": "get_customer_cards_add_complete",
        "summary": "Retour d'ajout de carte (navigateur)",
        "description": "Browser landing page used as the Paystack `callback_url` after adding a card. Reads `reference`/`trxref`, verifies the transaction, and stores the card authorization code. Returns an HTML page with the outcome.",
        "tags": [
          "customer"
        ],
        "x-readonly": false,
        "parameters": [
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trxref",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML page (Add Card Successful / Failed)."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaystackVerifyResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "transactionstatus": {
            "type": "string",
            "enum": [
              "initialized",
              "success",
              "failed",
              "abandoned",
              "reversed",
              "ongoing",
              "pending",
              "processing",
              "queued"
            ],
            "description": "`initialized` = created, not yet confirmed; then Paystack's status. Terminal: `success`, `failed`, `abandoned`, `reversed` — stop polling. Non-terminal: `ongoing`, `pending`, `processing`, `queued` — keep polling. `/pay/status/` returns `statuscode` 00 and the value here; poll every ~5 s with backoff, stop on a terminal value."
          },
          "amount": {
            "type": "string"
          },
          "fees": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "paidat": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "paidatiso": {
            "type": "string"
          },
          "authorizationcode": {
            "type": "string"
          },
          "customeremail": {
            "type": "string"
          },
          "businessid": {
            "type": "string"
          },
          "parceldetailid": {
            "type": "string"
          },
          "parcelreference": {
            "type": "string"
          },
          "collectcode": {
            "type": "string"
          },
          "dropcode": {
            "type": "string"
          },
          "processed": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        },
        "description": "Détails de la transaction vérifiée, y compris le code de retrait du colis le cas échéant."
      },
      "PaystackVerify": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "PaySuccessResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "transactionreference": {
            "type": "string"
          },
          "parcel": {
            "$ref": "#/components/schemas/PaySuccessData"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "PaySuccessData": {
        "type": "object",
        "properties": {
          "parcelid": {
            "type": "string"
          },
          "parceldetailid": {
            "type": "string"
          },
          "datecreated": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "parcelreferencenumber": {
            "type": "string"
          },
          "parcelrequesttypeid": {
            "type": "string"
          },
          "parcelrequesttype": {
            "type": "string"
          },
          "parcelstatusid": {
            "type": "string",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8"
            ],
            "description": "1 New parcel request; 2 Dropped parcel in locker; 3 Enroute to recipient; 4 Recipient collected parcel from locker; 5 Cancelled; 6 Archived; 7 Dispatch collected parcel from locker; 8 Reservation expired (awaiting drop-off past the deadline; locker released, fee forfeited). See /core/parcelstatuses/list/."
          },
          "parcelstatus": {
            "type": "string",
            "description": "Label of `parcelstatusid`; never empty — falls back to the id if a label is missing. See /core/parcelstatuses/list/."
          },
          "sizename": {
            "type": "string"
          },
          "boxname": {
            "type": "string"
          },
          "boxaddress": {
            "type": "string"
          },
          "boxstatename": {
            "type": "string"
          },
          "cityname": {
            "type": "string"
          },
          "recipientname": {
            "type": "string"
          },
          "recipientphone": {
            "type": "string"
          },
          "recipientemail": {
            "type": "string",
            "format": "email"
          },
          "sendername": {
            "type": "string"
          },
          "senderphone": {
            "type": "string"
          },
          "senderemail": {
            "type": "string",
            "format": "email"
          },
          "parcelamount": {
            "type": "string"
          },
          "deliveryamount": {
            "type": "string"
          },
          "grandtotal": {
            "type": "string"
          },
          "parcelsubdescription": {
            "type": "string"
          },
          "collectcode": {
            "type": "string"
          },
          "deliveryrequested": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          },
          "deliverypaid": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          },
          "recipientaddress": {
            "type": "string"
          },
          "deliveryarea": {
            "type": "string"
          },
          "datecreatediso": {
            "type": "string"
          }
        }
      },
      "PaySuccess": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "parcelreferencenumber": {
            "type": "string"
          },
          "transactionreference": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "PaystackStatusResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "transactionstatus": {
            "type": "string",
            "enum": [
              "initialized",
              "success",
              "failed",
              "abandoned",
              "reversed",
              "ongoing",
              "pending",
              "processing",
              "queued"
            ],
            "description": "`initialized` = created, not yet confirmed; then Paystack's status. Terminal: `success`, `failed`, `abandoned`, `reversed` — stop polling. Non-terminal: `ongoing`, `pending`, `processing`, `queued` — keep polling. `/pay/status/` returns `statuscode` 00 and the value here; poll every ~5 s with backoff, stop on a terminal value."
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "paidat": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "paidatiso": {
            "type": "string"
          },
          "processed": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          },
          "flowtype": {
            "type": "string",
            "description": "Informational payment flow, free-form: `web` (B2B/B2C) or `appless` (kiosk). The API does not validate it."
          },
          "parceldetailid": {
            "type": "string"
          },
          "businessid": {
            "type": "string"
          },
          "customerid": {
            "type": "string"
          }
        }
      },
      "PaystackStatus": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "PaySearchParcelResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "parcel": {
            "$ref": "#/components/schemas/SearchParcelData"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "SearchParcelData": {
        "type": "object",
        "properties": {
          "parcelid": {
            "type": "string"
          },
          "parceldetailid": {
            "type": "string"
          },
          "datecreated": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "parcelreferencenumber": {
            "type": "string"
          },
          "parcelrequesttypeid": {
            "type": "string"
          },
          "parcelrequesttype": {
            "type": "string"
          },
          "parcelstatusid": {
            "type": "string",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8"
            ],
            "description": "1 New parcel request; 2 Dropped parcel in locker; 3 Enroute to recipient; 4 Recipient collected parcel from locker; 5 Cancelled; 6 Archived; 7 Dispatch collected parcel from locker; 8 Reservation expired (awaiting drop-off past the deadline; locker released, fee forfeited). See /core/parcelstatuses/list/."
          },
          "parcelstatus": {
            "type": "string",
            "description": "Label of `parcelstatusid`; never empty — falls back to the id if a label is missing. See /core/parcelstatuses/list/."
          },
          "sizename": {
            "type": "string"
          },
          "boxid": {
            "type": "string"
          },
          "boxname": {
            "type": "string"
          },
          "boxaddress": {
            "type": "string"
          },
          "boxstatename": {
            "type": "string"
          },
          "cityname": {
            "type": "string"
          },
          "recipientname": {
            "type": "string"
          },
          "recipientphone": {
            "type": "string"
          },
          "recipientemail": {
            "type": "string",
            "format": "email"
          },
          "sendername": {
            "type": "string"
          },
          "senderphone": {
            "type": "string"
          },
          "senderemail": {
            "type": "string",
            "format": "email"
          },
          "parcelamount": {
            "type": "string"
          },
          "deliveryamount": {
            "type": "string"
          },
          "grandtotal": {
            "type": "string"
          },
          "parcelsubdescription": {
            "type": "string"
          },
          "parcelpaid": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          },
          "datecreatediso": {
            "type": "string"
          }
        }
      },
      "PaySearchParcel": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "parcelreferencenumber": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "PaystackInitializeResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "authorizationurl": {
            "type": "string"
          },
          "accesscode": {
            "type": "string"
          }
        },
        "description": "Résultat de l'initialisation Paystack."
      },
      "PaystackInitialize": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "customerid": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "callbackurl": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "flowtype": {
            "type": "string",
            "description": "Informational payment flow, free-form: `web` (B2B/B2C) or `appless` (kiosk). The API does not validate it."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "apikey",
          "amount"
        ],
        "example": {
          "apikey": "<business secret key>",
          "email": "ama@example.com",
          "amount": "5000",
          "currency": "XOF",
          "metadata": {
            "fulfil": "wallet"
          }
        }
      },
      "ParcelSnapshotsResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "snapshots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParcelSnapshotsData"
            }
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "ParcelSnapshotsData": {
        "type": "object",
        "properties": {
          "snapshotid": {
            "type": "string"
          },
          "snapshotevent": {
            "type": "string",
            "enum": [
              "dropoff",
              "pickup"
            ],
            "description": "Snapshot event: `dropoff` (at drop-off) or `pickup` (at collection)."
          },
          "snapshotsequence": {
            "type": "string",
            "enum": [
              "1",
              "2"
            ],
            "description": "1 = taken when the locker is unlocked; 2 = taken after the door is closed."
          },
          "snapshoturl": {
            "type": "string"
          },
          "imagedatetime": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "datecreated": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "imagedatetimeiso": {
            "type": "string"
          },
          "datecreatediso": {
            "type": "string"
          }
        }
      },
      "ParcelSnapshots": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "parceldetailid": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "SnapshotUploadResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "snapshotid": {
            "type": "string"
          },
          "snapshoturl": {
            "type": "string"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "SnapshotFetch": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "snapshotid": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "BoxesSetupResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "box": {
            "$ref": "#/components/schemas/BoxData"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "BoxData": {
        "type": "object",
        "properties": {
          "boxid": {
            "type": "string"
          },
          "boxcode": {
            "type": "string"
          },
          "boxname": {
            "type": "string"
          },
          "boxcapacity": {
            "type": "string"
          },
          "lockersavailable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          },
          "boxaddress": {
            "type": "string"
          },
          "boxlongitude": {
            "type": "string"
          },
          "boxlatitude": {
            "type": "string"
          },
          "cityid": {
            "type": "string"
          },
          "cityname": {
            "type": "string"
          },
          "stateid": {
            "type": "string"
          },
          "statename": {
            "type": "string"
          },
          "lockersinuse": {
            "type": "string"
          },
          "lockersfree": {
            "type": "string"
          },
          "boxdescription": {
            "type": "string"
          },
          "datecreated": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "networkid": {
            "type": "string"
          },
          "networkname": {
            "type": "string"
          },
          "boxonline": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          },
          "datelastping": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "datecreatediso": {
            "type": "string"
          },
          "datelastpingiso": {
            "type": "string"
          }
        }
      },
      "BoxesSetup": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "boxcode": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "BoxPingResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "BoxPing": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "boxid": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "SnapshotUpload": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "boxid": {
            "type": "string"
          },
          "parcelid": {
            "type": "string"
          },
          "parceldetailid": {
            "type": "string"
          },
          "parcelreferencenumber": {
            "type": "string"
          },
          "boxlockernumber": {
            "type": "string"
          },
          "snapshotevent": {
            "type": "string",
            "enum": [
              "dropoff",
              "pickup"
            ],
            "description": "Snapshot event: `dropoff` (at drop-off) or `pickup` (at collection)."
          },
          "snapshotsequence": {
            "type": "string",
            "enum": [
              "1",
              "2"
            ],
            "description": "1 = taken when the locker is unlocked; 2 = taken after the door is closed."
          },
          "image": {
            "type": "string"
          },
          "imagedatetime": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          }
        },
        "required": [
          "apikey"
        ]
      },
      "DropParcelResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "parcel": {
            "$ref": "#/components/schemas/DropParcelData"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "DropParcelData": {
        "type": "object",
        "properties": {
          "parcelid": {
            "type": "string"
          },
          "parceldetailid": {
            "type": "string"
          },
          "datecreated": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "parcelreferencenumber": {
            "type": "string"
          },
          "parcelrequesttypeid": {
            "type": "string"
          },
          "parcelrequesttype": {
            "type": "string"
          },
          "couriername": {
            "type": "string"
          },
          "parcelstatus": {
            "type": "string",
            "description": "Label of `parcelstatusid`; never empty — falls back to the id if a label is missing. See /core/parcelstatuses/list/."
          },
          "sizename": {
            "type": "string"
          },
          "boxname": {
            "type": "string"
          },
          "boxaddress": {
            "type": "string"
          },
          "boxstatename": {
            "type": "string"
          },
          "cityname": {
            "type": "string"
          },
          "recipientname": {
            "type": "string"
          },
          "recipientphone": {
            "type": "string"
          },
          "recipientemail": {
            "type": "string",
            "format": "email"
          },
          "sendername": {
            "type": "string"
          },
          "senderphone": {
            "type": "string"
          },
          "senderemail": {
            "type": "string",
            "format": "email"
          },
          "userid": {
            "type": "string"
          },
          "customerid": {
            "type": "string"
          },
          "parcelamount": {
            "type": "string"
          },
          "itemcount": {
            "type": "string"
          },
          "parcelsubdescription": {
            "type": "string"
          },
          "dropcode": {
            "type": "string"
          },
          "boxlockerid": {
            "type": "string"
          },
          "boxlockernumber": {
            "type": "string"
          },
          "lockerstatus": {
            "type": "string",
            "enum": [
              "Vacant",
              "Reserved",
              "Occupied"
            ],
            "description": "Locker state: Vacant = empty; Reserved = empty but held for a parcel; Occupied = holds a parcel. See /core/lockerstatuses/list/."
          },
          "datecreatediso": {
            "type": "string"
          }
        }
      },
      "DropParcel": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "boxid": {
            "type": "string"
          },
          "unlockcode": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "CollectParcelResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "parcel": {
            "$ref": "#/components/schemas/CollectParcelData"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "CollectParcelData": {
        "type": "object",
        "properties": {
          "parcelid": {
            "type": "string"
          },
          "parceldetailid": {
            "type": "string"
          },
          "datecreated": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "parcelreferencenumber": {
            "type": "string"
          },
          "parcelrequesttype": {
            "type": "string"
          },
          "parcelrequesttypeid": {
            "type": "string"
          },
          "couriername": {
            "type": "string"
          },
          "parcelstatus": {
            "type": "string",
            "description": "Label of `parcelstatusid`; never empty — falls back to the id if a label is missing. See /core/parcelstatuses/list/."
          },
          "sizename": {
            "type": "string"
          },
          "boxname": {
            "type": "string"
          },
          "boxaddress": {
            "type": "string"
          },
          "boxstatename": {
            "type": "string"
          },
          "cityname": {
            "type": "string"
          },
          "recipientname": {
            "type": "string"
          },
          "recipientphone": {
            "type": "string"
          },
          "recipientemail": {
            "type": "string",
            "format": "email"
          },
          "sendername": {
            "type": "string"
          },
          "senderphone": {
            "type": "string"
          },
          "senderemail": {
            "type": "string",
            "format": "email"
          },
          "customerid": {
            "type": "string"
          },
          "parcelamount": {
            "type": "string"
          },
          "itemcount": {
            "type": "string"
          },
          "parcelsubdescription": {
            "type": "string"
          },
          "collectcode": {
            "type": "string"
          },
          "boxlockerid": {
            "type": "string"
          },
          "boxlockernumber": {
            "type": "string"
          },
          "lockerstatus": {
            "type": "string",
            "enum": [
              "Vacant",
              "Reserved",
              "Occupied"
            ],
            "description": "Locker state: Vacant = empty; Reserved = empty but held for a parcel; Occupied = holds a parcel. See /core/lockerstatuses/list/."
          },
          "datecreatediso": {
            "type": "string"
          }
        }
      },
      "CollectParcel": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "boxid": {
            "type": "string"
          },
          "unlockcode": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "ApplessVerifyResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "98",
              "99"
            ],
[...]
