{
  "openapi": "3.1.0",
  "info": {
    "title": "Afribox API",
    "version": "2.0.0",
    "description": "Afribox backend API (SmartParcel). All endpoints accept JSON over POST (unless noted). Authentication is via an `apikey` in the request body: an Application API key, a Business public key, a Business secret key, or (for `/admin/`) a dedicated admin key. Customer read endpoints also accept a `sessiontoken` returned by `/customer/login/`. The HTTP status is 200 (JSON responses are served as `application/json`); the outcome is reported in the body via `statuscode` (`00` = success) and `statusmessage`. A valid request with no results returns `00` with an empty array. Dates are served as `M/d/yyyy h:mm:ss AM/PM` with no timezone (the server is UTC+1); boolean fields are the strings `\"True\"`/`\"False\"`."
  },
  "servers": [
    {
      "url": "https://afriboxapi.smartparcel.ng/v2",
      "description": "Afribox production (v2)"
    }
  ],
  "tags": [
    {
      "name": "core",
      "description": "Public reference data: states, cities, boxes, sizes, fees, couriers, delivery areas."
    },
    {
      "name": "customer",
      "description": "End-user accounts: signup/login/OTP, profile, saved cards, parcels, support."
    },
    {
      "name": "business",
      "description": "Business/partner accounts: dashboard, boxes, parcels, wallet, transaction history."
    },
    {
      "name": "kiosk",
      "description": "Locker/device operations: setup, ping, parcel drop/collect, appless reserve/verify, snapshots."
    },
    {
      "name": "pay",
      "description": "Payments: parcel payment search/success, and the Paystack initialize/verify/status/return/webhook endpoints."
    },
    {
      "name": "parcel",
      "description": "Parcel proof-of-delivery snapshots (list, fetch, image)."
    },
    {
      "name": "admin",
      "description": "Administrative operations: businesses list and wallet transactions."
    }
  ],
  "paths": {
    "/admin/businesses/list/": {
      "post": {
        "operationId": "post_admin_businesses_list",
        "summary": "Businesses List",
        "tags": [
          "admin"
        ],
        "description": "List businesses with their balance and network. Requires the **admin key**; scoped to its network (or all networks for a global key).",
        "x-auth": "none",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/availableboxes/all/": {
      "post": {
        "operationId": "post_business_availableboxes_all",
        "summary": "List the business's boxes with a free locker",
        "tags": [
          "business"
        ],
        "description": "The boxes assigned to the business that are in service and have at least one free compartment.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/availableboxes/city/": {
      "post": {
        "operationId": "post_business_availableboxes_city",
        "summary": "List the business's available boxes by city",
        "tags": [
          "business"
        ],
        "description": "The boxes assigned to the business that are in service and have a free compartment, in one city.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByCity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByCityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/availableboxes/state/": {
      "post": {
        "operationId": "post_business_availableboxes_state",
        "summary": "List the business's available boxes by state",
        "tags": [
          "business"
        ],
        "description": "The boxes assigned to the business that are in service and have a free compartment, in one state.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByStateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/balance/": {
      "post": {
        "operationId": "post_business_balance",
        "summary": "Get the balance business",
        "tags": [
          "business"
        ],
        "description": "The business wallet balance (formatted, e.g. `\"6,400.00\"`).",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsBalance"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsBalanceResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "balance": "6,400.00"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/boxes/all/": {
      "post": {
        "operationId": "post_business_boxes_all",
        "summary": "List all boxes of the business",
        "tags": [
          "business"
        ],
        "description": "Every box assigned to the business, whatever its service state and whether or not it has a free compartment.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/boxes/assigned/": {
      "post": {
        "operationId": "post_business_boxes_assigned",
        "summary": "List the boxes assigned to the business",
        "tags": [
          "business"
        ],
        "description": "The boxes assigned to the business that are in service.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/boxes/city/": {
      "post": {
        "operationId": "post_business_boxes_city",
        "summary": "List the business's boxes by city",
        "tags": [
          "business"
        ],
        "description": "The boxes assigned to the business in one city, whatever their service state.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByCity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByCityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/boxes/info/": {
      "post": {
        "operationId": "post_business_boxes_info",
        "summary": "Boxes Info",
        "tags": [
          "business"
        ],
        "description": "One box assigned to the business (business key). For any box in the network, use `/core/boxes/info/` with the application key.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/boxes/state/": {
      "post": {
        "operationId": "post_business_boxes_state",
        "summary": "List the business's boxes by state",
        "tags": [
          "business"
        ],
        "description": "The boxes assigned to the business in one state, whatever their service state.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByStateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/cancelledparcels/": {
      "post": {
        "operationId": "post_business_cancelledparcels",
        "summary": "List the business's cancelled parcels",
        "tags": [
          "business"
        ],
        "description": "The business's cancelled parcels. Requires the **business public key**; `dropcode`/`collectcode` are masked as `\"****\"`.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsCancelledParcels"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsCancelledParcelsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/cities/all/": {
      "post": {
        "operationId": "post_business_cities_all",
        "summary": "List the cities of the business network",
        "tags": [
          "business"
        ],
        "description": "The cities covered by the business's network.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CitiesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/cities/state/": {
      "post": {
        "operationId": "post_business_cities_state",
        "summary": "Cities State",
        "tags": [
          "business"
        ],
        "description": "The cities of one state, for the business.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CitiesListByState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesListByStateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/dashboard/": {
      "post": {
        "operationId": "post_business_dashboard",
        "summary": "Business Dashboard",
        "tags": [
          "business"
        ],
        "description": "The business dashboard counters (boxes, lockers, parcels, pending, cancelled, totals).",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsDashboard"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsDashboardResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "dashboard": {
                    "boxes": "5",
                    "lockers": "185",
                    "users": "1",
                    "parcelspendingdropoffs": "0",
                    "parcelspendingpickups": "0",
                    "parcelspickedup": "20",
                    "parcelsretrieved": "0",
                    "parcelscancelled": "0",
                    "parcelstotal": "20",
                    "lockersvacant": "175",
                    "lockersreserved": "8",
                    "lockersoccupied": "2",
                    "lockerstotal": "185"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/draft/deliveryareas/": {
      "post": {
        "operationId": "post_business_draft_deliveryareas",
        "summary": "Draft Deliveryareas",
        "tags": [
          "business"
        ],
        "description": "**Deprecated** — use `/core/deliveryareas/list/`. Reference data for a parcel-creation selector.",
        "x-auth": "business_public",
        "x-readonly": true,
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryAreasList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryAreasListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/draft/parceltypes/": {
      "post": {
        "operationId": "post_business_draft_parceltypes",
        "summary": "Draft Parceltypes",
        "tags": [
          "business"
        ],
        "description": "**Deprecated** — use `/core/requesttypes/list/`. Reference data for a parcel-creation selector. Business parcel creation is fixed to request type 6 (Ramassage sur place); this list is informational only.",
        "x-auth": "business_public",
        "x-readonly": true,
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestTypesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTypesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/info/all/": {
      "post": {
        "operationId": "post_business_parcels_info_all",
        "summary": "Info All",
        "tags": [
          "business"
        ],
        "description": "One business parcel **plus its `timelines`**, by `parceldetailid`. Requires the **business public key**; `dropcode`/`collectcode` are masked as `\"****\"`.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelInfoAll"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelInfoAllResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/info/": {
      "post": {
        "operationId": "post_business_parcels_info",
        "summary": "Parcels Info",
        "tags": [
          "business"
        ],
        "description": "One business parcel, by `parceldetailid`. Requires the **business public key**; the opening codes `dropcode`/`collectcode` are served as `\"****\"` (real codes are returned only under the secret key, e.g. the create response).",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/reports/": {
      "post": {
        "operationId": "post_business_parcels_reports",
        "summary": "Parcels Reports",
        "tags": [
          "business"
        ],
        "description": "The business's parcels within a date range. `datefrom`/`dateto` accept `YYYY-MM-DD` or `MM/DD/YYYY` (month first); see *Dates and time zones*.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelReports"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelReportsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/search/": {
      "post": {
        "operationId": "post_business_parcels_search",
        "summary": "Find a business parcel by reference",
        "tags": [
          "business"
        ],
        "description": "Find one of the business's parcels by `parcelreferencenumber`.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaySearchParcel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaySearchParcelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/timeline/": {
      "post": {
        "operationId": "post_business_parcels_timeline",
        "summary": "Business: Parcels Timeline",
        "tags": [
          "business"
        ],
        "description": "The status timeline of one business parcel.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelTimeline"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelTimelineResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/pendingpickups/": {
      "post": {
        "operationId": "post_business_pendingpickups",
        "summary": "List parcels awaiting collection",
        "tags": [
          "business"
        ],
        "description": "Parcels already dropped into a locker and not yet collected (status 2). Requires the **business public key**; `dropcode`/`collectcode` are masked as `\"****\"`.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsPendingPickups"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsPendingPickupsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/pickedupparcels/": {
      "post": {
        "operationId": "post_business_pickedupparcels",
        "summary": "Business Pickedupparcels",
        "tags": [
          "business"
        ],
        "description": "The business's parcels already collected by the business. Requires the **business public key**; `dropcode`/`collectcode` are masked as `\"****\"`.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsPickedUpParcels"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsPickedUpParcelsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/retrievedparcels/": {
      "post": {
        "operationId": "post_business_retrievedparcels",
        "summary": "List the business's retrieved parcels",
        "tags": [
          "business"
        ],
        "description": "The business's parcels retrieved from a locker. Requires the **business public key**; `dropcode`/`collectcode` are masked as `\"****\"`.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsRetrievedParcels"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsRetrievedParcelsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/sizes/": {
      "post": {
        "operationId": "post_business_sizes",
        "summary": "Business Sizes",
        "tags": [
          "business"
        ],
        "description": "The size vocabulary available to the business.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SizesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SizesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/states/": {
      "post": {
        "operationId": "post_business_states",
        "summary": "List the states of the business network",
        "tags": [
          "business"
        ],
        "description": "The states covered by the business's network.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/transactionhistory/": {
      "post": {
        "operationId": "post_business_transactionhistory",
        "summary": "Business Transactionhistory",
        "tags": [
          "business"
        ],
        "description": "The business wallet ledger (credit/debit lines with narration, parcel reference and Paystack reference).",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsTransactionHistory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsTransactionHistoryResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "transactions": [
                    {
                      "transactionid": "1",
                      "datecreated": "8/27/2026 5:27:26 PM",
                      "type": "Debit",
                      "amount": "250",
                      "parcelreferencenumber": "4084708791",
                      "parceldetailid": "1002",
                      "elapsed": "",
                      "narration": "Parcel booking Ref: 4084708791",
                      "reference": ""
                    }
                  ],
                  "total": "1",
                  "page": "1",
                  "pagesize": "1"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/users/list/": {
      "post": {
        "operationId": "post_business_users_list",
        "summary": "List the business's staff users",
        "tags": [
          "business"
        ],
        "description": "The active staff users (`SYS_Users`) of the business — `userid`, `fullname`, `email`. Use a `userid` as `createdby` on wallet writes. Requires the **business public key**.",
        "x-auth": "business_public",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUsersList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessUsersListResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "users": [
                    {
                      "userid": "1",
                      "fullname": "Ama Diallo",
                      "email": "ama@afribox.ci"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/billingtypes/list/": {
      "post": {
        "operationId": "post_core_billingtypes_list",
        "summary": "Billingtypes List",
        "tags": [
          "core"
        ],
        "description": "Billing types used by businesses (for example Prepaid, Postpaid).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingTypesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingTypesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/availability/": {
      "post": {
        "operationId": "post_core_boxes_availability",
        "summary": "Boxes Availability",
        "tags": [
          "core"
        ],
        "description": "Free lockers by size for a box (counts only, no locker numbers).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxAvailabilityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/available/bycity/": {
      "post": {
        "operationId": "post_core_boxes_available_bycity",
        "summary": "List available boxes by city",
        "tags": [
          "core"
        ],
        "description": "Boxes that currently have at least one free locker, in one city.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByCity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByCityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/available/bystate/": {
      "post": {
        "operationId": "post_core_boxes_available_bystate",
        "summary": "List available boxes by state",
        "tags": [
          "core"
        ],
        "description": "Boxes that currently have at least one free locker, in one state.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByStateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/available/list/": {
      "post": {
        "operationId": "post_core_boxes_available_list",
        "summary": "List boxes with a free locker",
        "tags": [
          "core"
        ],
        "description": "Active boxes in the network that have at least one free compartment (`lockersavailable` is `True`, i.e. `lockersfree` > 0). Availability is a free compartment, not the box's service state.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/bycity/": {
      "post": {
        "operationId": "post_core_boxes_bycity",
        "summary": "List boxes by city",
        "tags": [
          "core"
        ],
        "description": "Boxes in a given city.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByCity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByCityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/bystate/": {
      "post": {
        "operationId": "post_core_boxes_bystate",
        "summary": "List boxes by state",
        "tags": [
          "core"
        ],
        "description": "Boxes in a given state.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesListByState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListByStateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/info/": {
      "post": {
        "operationId": "post_core_boxes_info",
        "summary": "Get boxes",
        "tags": [
          "core"
        ],
        "description": "One box with its counters, its physical lockers (`lockers[]`) and its service state (`boxonline`, `datelastping`).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesInfoResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "box": {
                    "boxid": "4",
                    "boxname": "Afribox Cocody",
                    "networkid": "2",
                    "networkname": "Afribox",
                    "boxonline": "True",
                    "datelastping": "9/22/2026 1:07:44 PM",
                    "lockersinuse": "5",
                    "lockersfree": "32"
                  },
                  "lockersizes": [],
                  "lockers": [
                    {
                      "boxlockerid": "1",
                      "boxlockernumber": "1",
                      "sizeid": "3"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/boxes/list/": {
      "post": {
        "operationId": "post_core_boxes_list",
        "summary": "List the boxes of the network",
        "tags": [
          "core"
        ],
        "description": "Every active box in the calling key's network.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/cities/bystate/": {
      "post": {
        "operationId": "post_core_cities_bystate",
        "summary": "Cities Bystate",
        "tags": [
          "core"
        ],
        "description": "Cities of a given state.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CitiesListByState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesListByStateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/cities/info/": {
      "post": {
        "operationId": "post_core_cities_info",
        "summary": "Cities Info",
        "tags": [
          "core"
        ],
        "description": "One city, by id.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CitiesInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/cities/list/": {
      "post": {
        "operationId": "post_core_cities_list",
        "summary": "Cities List",
        "tags": [
          "core"
        ],
        "description": "All cities.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CitiesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/couriers/list/": {
      "post": {
        "operationId": "post_core_couriers_list",
        "summary": "Couriers List",
        "tags": [
          "core"
        ],
        "description": "Courier companies known to the network.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouriersList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouriersListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/deliveryareas/list/": {
      "post": {
        "operationId": "post_core_deliveryareas_list",
        "summary": "Deliveryareas List",
        "tags": [
          "core"
        ],
        "description": "Delivery areas, optionally filtered by state.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryAreasList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryAreasListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/fees/appless/": {
      "post": {
        "operationId": "post_core_fees_appless",
        "summary": "Fees Appless",
        "tags": [
          "core"
        ],
        "description": "Walk-in (appless) reservation fee per size — the schedule `/business/parcels/create/` debits. Current schedule (effective 23 September 2026): Petit 500, Moyen 750, Grand 1250, XGrand 2000. Supersedes the historical 250/600/1000 \"Parcel reservation fee\" schedule.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeesAppless"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeesApplessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/fees/compute/": {
      "post": {
        "operationId": "post_core_fees_compute",
        "summary": "Fees Compute",
        "tags": [
          "core"
        ],
        "description": "Compute the fee for a request type and size. **Request type 4** (Application de casier) and **6** (business 'Ramassage sur place') return the appless reservation fee that `/business/parcels/create/` will debit.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeesCompute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeesComputeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/fees/selfstorage/": {
      "post": {
        "operationId": "post_core_fees_selfstorage",
        "summary": "Fees Selfstorage",
        "tags": [
          "core"
        ],
        "description": "Self-storage fee per size, per six hours and per hour.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeesSelfStorage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeesSelfStorageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/fees/service/": {
      "post": {
        "operationId": "post_core_fees_service",
        "summary": "Fees Service",
        "tags": [
          "core"
        ],
        "description": "Send-parcel service fee per size.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeesService"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeesServiceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/lockerstatuses/list/": {
      "post": {
        "operationId": "post_core_lockerstatuses_list",
        "summary": "List the locker statuses",
        "tags": [
          "core"
        ],
        "description": "The locker-status vocabulary: 1 Vacant, 2 Reserved, 3 Occupied.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LockerStatusesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LockerStatusesListResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "lockerstatuses": [
                    {
                      "lockerstatusid": "1",
                      "lockerstatus": "Vacant",
                      "lockerstatusdescription": "Locker is empty. No parcel is in it."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/parcels/search/": {
      "post": {
        "operationId": "post_core_parcels_search",
        "summary": "Parcels Search",
        "tags": [
          "core"
        ],
        "description": "Find any parcel in the network by `parcelreferencenumber`. Runs under the **application key** (a client key), so recipient/sender contact details are **masked** (`\"****\"`); it returns tracking fields only (status, size, box, city/state, amounts, dates).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaySearchParcel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaySearchParcelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/parcelstatuses/list/": {
      "post": {
        "operationId": "post_core_parcelstatuses_list",
        "summary": "List parcelstatuses",
        "tags": [
          "core"
        ],
        "description": "The parcel-status vocabulary (1 New request … 8 Reservation expired).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParcelStatusesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelStatusesListResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "parcelstatuses": [
                    {
                      "parcelstatusid": "1",
                      "parcelstatus": "New parcel request",
                      "parcelstatusdescription": "Parcel request created"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/requesttypes/list/": {
      "post": {
        "operationId": "post_core_requesttypes_list",
        "summary": "List the request types",
        "tags": [
          "core"
        ],
        "description": "The parcel-request-type vocabulary. **Customer** parcel creation may use `1` (Send parcel), `2` (Self-storage) and `3` (Customer-to-customer); **business** creation is fixed to `6` (Ramassage sur place); `7`, `8`, `9` are business/dispatch; `4` is the kiosk appless flow. Labels are served trimmed.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestTypesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTypesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/sizes/fees/": {
      "post": {
        "operationId": "post_core_sizes_fees",
        "summary": "Sizes Fees",
        "tags": [
          "core"
        ],
        "description": "Fees by size for a box and request type (**types 4 and 6** return the appless reservation fees).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SizesFees"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SizesFeesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/sizes/info/": {
      "post": {
        "operationId": "post_core_sizes_info",
        "summary": "Sizes Info",
        "tags": [
          "core"
        ],
        "description": "One size, by id.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SizesInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SizesInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/sizes/list/": {
      "post": {
        "operationId": "post_core_sizes_list",
        "summary": "Sizes List",
        "tags": [
          "core"
        ],
        "description": "The size vocabulary (Petit, Moyen, Grand, XGrand).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SizesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SizesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/states/info/": {
      "post": {
        "operationId": "post_core_states_info",
        "summary": "States Info",
        "tags": [
          "core"
        ],
        "description": "One state, by id.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatesInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatesInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/states/list/": {
      "post": {
        "operationId": "post_core_states_list",
        "summary": "List states",
        "tags": [
          "core"
        ],
        "description": "The state vocabulary.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatesListResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "states": [
                    {
                      "stateid": "1",
                      "statecode": "AB",
                      "statename": "Abidjan",
                      "countcities": "4",
                      "countboxes": "4",
                      "statedescription": "Abidjan (4 Locations)"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/walletfundmodes/list/": {
      "post": {
        "operationId": "post_core_walletfundmodes_list",
        "summary": "Walletfundmodes List",
        "tags": [
          "core"
        ],
        "description": "Wallet funding modes (for example Online/Card, Paystack).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletFundModesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletFundModesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/cards/info/": {
      "post": {
        "operationId": "post_customer_cards_info",
        "summary": "Cards Info",
        "tags": [
          "customer"
        ],
        "description": "One of the customer's saved cards.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCardsInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCardsInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/cards/list/": {
      "post": {
        "operationId": "post_customer_cards_list",
        "summary": "Cards List",
        "tags": [
          "customer"
        ],
        "description": "The customer's saved cards.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCardsList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCardsListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/dashboard/": {
      "post": {
        "operationId": "post_customer_dashboard",
        "summary": "Customer Dashboard",
        "tags": [
          "customer"
        ],
        "description": "The customer's dashboard counters (new requests, in locker, enroute, delivered).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDashboard"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDashboardResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "dashboard": {
                    "newrequests": "0",
                    "inlocker": "0",
                    "enroutetorecipient": "0",
                    "delivered": "0"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/info/": {
      "post": {
        "operationId": "post_customer_info",
        "summary": "Customer Info",
        "tags": [
          "customer"
        ],
        "description": "The customer's profile.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/all/": {
      "post": {
        "operationId": "post_customer_parcels_all",
        "summary": "List all customer parcels",
        "tags": [
          "customer"
        ],
        "description": "All of the customer's parcels, newest first. Requires a valid **`sessiontoken`** (from `/customer/login/`); a bare `customerid` is not accepted.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelAll"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelAllResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/archived/": {
      "post": {
        "operationId": "post_customer_parcels_archived",
        "summary": "List archived parcels",
        "tags": [
          "customer"
        ],
        "description": "The customer's archived parcels (status 6).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelArchived"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelArchivedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/cancelled/": {
      "post": {
        "operationId": "post_customer_parcels_cancelled",
        "summary": "List the customer's cancelled parcels",
        "tags": [
          "customer"
        ],
        "description": "The customer's cancelled parcels.",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelCancelled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelCancelledResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/delivered/": {
      "post": {
        "operationId": "post_customer_parcels_delivered",
        "summary": "List delivered parcels",
        "tags": [
          "customer"
        ],
        "description": "The customer's parcels collected by the recipient (status 4).",
        "x-auth": "app_key",
        "x-readonly": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelDelivered"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelDeliveredResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/enroutetorecipient/": {
      "post": {
        "operationId": "post_customer_parcels_enroutetorecipient",
        "summary": "List parcels enroute to the recipient",
        "tags": [
          "customer"
        ],
[...]
