{
  "openapi": "3.1.0",
  "info": {
    "title": "Afribox API",
    "version": "2.1.6",
    "description": "Afribox backend API (SmartParcel). All endpoints accept JSON over POST (unless noted). Authentication is via an `apikey` in the request body: an Application API key, a Business public key, a Business secret key, or (for `/admin/`) a dedicated admin key. Customer read endpoints also accept a `sessiontoken` returned by `/customer/login/`. The HTTP status is 200 (JSON responses are served as `application/json`); the outcome is reported in the body via `statuscode` (`00` = success) and `statusmessage`. A valid request with no results returns `00` with an empty array. Dates are served as `M/d/yyyy h:mm:ss AM/PM` with no timezone (the server is UTC+1); boolean fields are the strings `\"True\"`/`\"False\"`."
  },
  "servers": [
    {
      "url": "https://afriboxapi.smartparcel.ng/v2",
      "description": "Afribox production (v2)"
    }
  ],
  "tags": [
    {
      "name": "core",
      "description": "Public reference data: states, cities, boxes, sizes, fees, couriers, delivery areas."
    },
    {
      "name": "customer",
      "description": "End-user accounts: signup/login/OTP, profile, saved cards, parcels, support."
    },
    {
      "name": "business",
      "description": "Business/partner accounts: dashboard, boxes, parcels, wallet, transaction history."
    },
    {
      "name": "kiosk",
      "description": "Locker/device operations: setup, ping, parcel drop/collect, appless reserve/verify, snapshots."
    },
    {
      "name": "pay",
      "description": "Payments: parcel payment search/success, and the Paystack initialize/verify/status/return/webhook endpoints."
    },
    {
      "name": "admin",
      "description": "Administrative operations: businesses list and wallet transactions."
    }
  ],
  "paths": {
    "/admin/businesses/wallettransaction/new/": {
      "post": {
        "operationId": "post_admin_businesses_wallettransaction_new",
        "summary": "Create a wallet transaction for a business (admin)",
        "tags": [
          "admin"
        ],
        "description": "Insert a wallet movement for a business. Requires the **admin key**; refuses businesses outside its network. `wallettransactiontypeid` 1 = Credit, 2 = Debit; `walletfundmodeid` 1/2/3. `createdby` is optional (numeric user id; defaults to 0).",
        "x-auth": "none",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminBusinessWalletTransactionInsert"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessWalletTransactionInsertResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/cancel/": {
      "post": {
        "operationId": "post_business_parcels_cancel",
        "summary": "Cancel a business parcel",
        "tags": [
          "business"
        ],
        "description": "Cancels a business parcel awaiting drop-off, releases its locker and refunds the reservation fee to the wallet. Requires the **Business secret key**. The response carries `refundedamount`.",
        "x-auth": "business_secret",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelCancelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/create/": {
      "post": {
        "operationId": "post_business_parcels_create",
        "summary": "Create a business parcel",
        "tags": [
          "business"
        ],
        "description": "Creates a parcel on behalf of the business and reserves a locker. The request type is always **6** (Ramassage sur place / appless reservation) — it is not a request field. Debits the reservation fee from the wallet (prepaid) and sets the drop-off deadline (`expiresat`, default 72 h). Requires the **Business secret key**. Supports an optional `Idempotency-Key` header: an identical replay returns the first response and does not create a second parcel. For a prepaid business with insufficient balance it returns `statuscode` 99, `errorcode` `INSUFFICIENT_BALANCE` and message `\"Insufficient balance. Required: <fee>, Available: <balance>\"`. If never dropped off, the reservation expires (status 8), the locker is released and the fee is forfeited (no refund). The reservation fee debited here is the **single charge** for a type-6 parcel — collection does not charge again.",
        "x-auth": "business_secret",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelNew"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelNewResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/parcels/retrieve/": {
      "post": {
        "operationId": "post_business_parcels_retrieve",
        "summary": "Request a dropped-off parcel's retrieval",
        "tags": [
          "business"
        ],
        "description": "Requests that a **dropped-off (status 2) type-6 parcel be retrieved** from its locker. Requires the **secret key**. It sets the retrieval request and does **not** change the parcel status, **does not release the locker** and **does not refund the fee**; there is **no undo**. The retrieval is completed at the kiosk (`/kiosk/parcel/collect/` with the parcel's **`collectcode`**), which sets the parcel to status 4 (`RetrieveCompleted=1`) and frees the locker — only then does it count in `parcelsretrieved` and appear in `/business/retrievedparcels/`. Refused with `09 PARCEL_NOT_RETRIEVABLE` when the parcel is not in a locker, is not type 6, or was already requested. Returns the parcel (same contract as `/business/parcels/info/`), including the **real `collectcode`** (the code the retrieval agent enters).",
        "x-auth": "business_secret",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogisticsParcelInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticsParcelInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/business/wallettransaction/new/": {
      "post": {
        "operationId": "post_business_wallettransaction_new",
        "summary": "Create a wallet transaction for the business",
        "tags": [
          "business"
        ],
        "description": "Insert a wallet movement for the business. Requires the **secret key**. `wallettransactiontypeid` 2 = Debit only — **Credit is admin-only** (`99` otherwise). `walletfundmodeid` 1/2/3; manual adjustments use 2 (Back Office). `createdby` is optional (numeric user id; defaults to the business's primary user).",
        "x-auth": "business_secret",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessWalletTransactionInsert"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessWalletTransactionInsertResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/core/wallettransactiontypes/list/": {
      "post": {
        "operationId": "post_core_wallettransactiontypes_list",
        "summary": "Wallettransactiontypes List",
        "tags": [
          "core"
        ],
        "description": "Wallet transaction types: `1` Credit, `2` Debit.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletTransactionTypesList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletTransactionTypesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/cards/add/": {
      "post": {
        "operationId": "post_customer_cards_add",
        "summary": "Cards Add",
        "tags": [
          "customer"
        ],
        "description": "Start adding a saved card; returns the Paystack authorization URL to complete in the browser.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCardsAdd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCardsAddResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/cards/delete/": {
      "post": {
        "operationId": "post_customer_cards_delete",
        "summary": "Cards Delete",
        "tags": [
          "customer"
        ],
        "description": "Delete one of the customer's saved cards.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCardsDelete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCardsDeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/cards/setdefault/": {
      "post": {
        "operationId": "post_customer_cards_setdefault",
        "summary": "Cards Setdefault",
        "tags": [
          "customer"
        ],
        "description": "Mark one of the customer's cards as the default.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCardsSetDefault"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCardsSetDefaultResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/changepassword/": {
      "post": {
        "operationId": "post_customer_changepassword",
        "summary": "Customer Changepassword",
        "tags": [
          "customer"
        ],
        "description": "Change the customer's password; requires the current `oldpassword`.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerChangePassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerChangePasswordResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/edit/": {
      "post": {
        "operationId": "post_customer_edit",
        "summary": "Customer Edit",
        "tags": [
          "customer"
        ],
        "description": "Update the customer's display name.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerEdit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerEditResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/forgotpassword/": {
      "post": {
        "operationId": "post_customer_forgotpassword",
        "summary": "Start a password reset",
        "tags": [
          "customer"
        ],
        "description": "Start a password reset: emails a **6-digit code** to the registered address (valid **10 minutes**, **max 5 attempts**). Always returns `00` — it never reveals whether the email is registered.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerForgotPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerForgotPasswordResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/login/": {
      "post": {
        "operationId": "post_customer_login",
        "summary": "Log in (returns a session token)",
        "tags": [
          "customer"
        ],
        "description": "Authenticates a customer and returns the profile, the dashboard counters and a dated, revocable `sessiontoken`. Customer read endpoints accept `sessiontoken` in place of `customerid`.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLogin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLoginResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "customer": {
                    "customerid": "1",
                    "customername": "Ama",
                    "networkid": "2",
                    "networkname": "Afribox",
                    "emailaddress": "ama@example.com",
                    "phonenumber": "0104554198",
                    "passwordreset": "False",
                    "customeractive": "True"
                  },
                  "dashboard": {
                    "newrequests": "0",
                    "inlocker": "0",
                    "enroutetorecipient": "0",
                    "delivered": "0"
                  },
                  "sessiontoken": "<uuid>",
                  "sessionexpires": "2026-10-24 00:00:00"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/otp/resend/": {
      "post": {
        "operationId": "post_customer_otp_resend",
        "summary": "Otp Resend",
        "tags": [
          "customer"
        ],
        "description": "Resend the signup verification code to the **registered** contact (no account-existence disclosure).",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OTPResend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTPResendResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/otp/verify/": {
      "post": {
        "operationId": "post_customer_otp_verify",
        "summary": "Verify the signup code",
        "tags": [
          "customer"
        ],
        "description": "Verify the **signup** code and activate the account. It returns no token — sign in with `/customer/login/` to get a `sessiontoken`. (Password resets use `/customer/forgotpassword/` → `/customer/resetpassword/`.)",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OTPVerify"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTPVerifyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/cancel/": {
      "post": {
        "operationId": "post_customer_parcels_cancel",
        "summary": "Cancel a customer parcel",
        "tags": [
          "customer"
        ],
        "description": "Cancels the customer's own parcel (status 1, awaiting drop-off) and releases its locker. The parcel must carry the caller's `customerid` (or a valid `sessiontoken`).",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelCancelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/hold/": {
      "post": {
        "operationId": "post_customer_parcels_hold",
        "summary": "Parcels Hold",
        "tags": [
          "customer"
        ],
        "description": "Reserves a locker for a short pay-first window (**15 minutes**) while the payer completes Paystack; the locker is released automatically when the hold expires (hourly/2-minute job, plus opportunistic cleanup).",
        "x-auth": "paystack_dual",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParcelHold"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelHoldResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/hold/release/": {
      "post": {
        "operationId": "post_customer_parcels_hold_release",
        "summary": "Hold Release",
        "tags": [
          "customer"
        ],
        "description": "Release a checkout hold and free its locker.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParcelHoldRelease"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelHoldReleaseResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/parcels/new/": {
      "post": {
        "operationId": "post_customer_parcels_new",
        "summary": "Create a customer parcel",
        "tags": [
          "customer"
        ],
        "description": "Creates a customer parcel and reserves a locker, setting the drop-off deadline (`expiresat`, default 72 h). `requesttypeid` must be `1` (Send parcel — also needs `recipientaddress` and `deliveryareaid`), `2` (Self-storage) or `3` (Customer-to-customer — needs recipient name/phone/email). Other types are refused. If the parcel is never dropped off, the reservation expires (status 8) and the locker is released.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerParcelNew"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerParcelNewResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/resetpassword/": {
      "post": {
        "operationId": "post_customer_resetpassword",
        "summary": "Complete a password reset",
        "tags": [
          "customer"
        ],
        "description": "Complete the reset with `{email, otp, newpassword}`: verifies the emailed code and sets the new password in one step. Invalid/expired code → `09 INVALID_RESET_CODE`. To change a password you already know while signed in, use `/customer/changepassword/`.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerResetPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResetPasswordResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/signup/": {
      "post": {
        "operationId": "post_customer_signup",
        "summary": "Customer Signup",
        "tags": [
          "customer"
        ],
        "description": "Register a customer; sends a one-time code. The response does **not** contain the code, and does not reveal whether the number already exists.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerSignup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSignupResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/customer/support/": {
      "post": {
        "operationId": "post_customer_support",
        "summary": "Customer Support",
        "tags": [
          "customer"
        ],
        "description": "Submit a support request for the customer.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerSupport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSupportResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/parcel/appless/reserve/": {
      "post": {
        "operationId": "post_kiosk_parcel_appless_reserve",
        "summary": "Appless Reserve",
        "tags": [
          "kiosk"
        ],
        "description": "Reserve a walk-in locker against a paid reference. The backend verifies the payment and claims it (single use).",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplessReserve"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplessReserveResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/parcel/appless/verify/": {
      "post": {
        "operationId": "post_kiosk_parcel_appless_verify",
        "summary": "Appless Verify",
        "tags": [
          "kiosk"
        ],
        "description": "Check availability and fee for **one** size (by `sizename`) for a walk-in user.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplessVerify"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplessVerifyResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "parcel": {
                    "sizeid": "1",
                    "sizename": "Petit",
                    "boxname": "Afribox Cocody",
                    "boxaddress": "Afribox Cocody",
                    "parcelamount": "500",
                    "boxlockerid": "5",
                    "boxlockernumber": "5"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/parcel/collect/": {
      "post": {
        "operationId": "post_kiosk_parcel_collect",
        "summary": "Parcel Collect",
        "tags": [
          "kiosk"
        ],
        "description": "Open a locker to collect a parcel; `unlockcode` is the parcel's `collectcode`. Collection sets the parcel to status 4 (or, for a requested retrieval, `RetrieveCompleted=1`) and frees the locker. It does **not** charge: a type-6 parcel's reservation fee was already debited at creation.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectParcel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectParcelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/parcel/drop/": {
      "post": {
        "operationId": "post_kiosk_parcel_drop",
        "summary": "Parcel Drop",
        "tags": [
          "kiosk"
        ],
        "description": "Open a locker to drop a parcel; `unlockcode` is the parcel's `dropcode`.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DropParcel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DropParcelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/parcel/snapshot/": {
      "post": {
        "operationId": "post_kiosk_parcel_snapshot",
        "summary": "Parcel Snapshot",
        "tags": [
          "kiosk"
        ],
        "description": "Upload a proof-of-delivery snapshot (`snapshotevent` dropoff/pickup, `snapshotsequence` 1/2). `parceldetailid` is **authoritative**: the server resolves the parcel and verifies the other identifiers agree (mismatch → `09 PARCEL_IDENTIFIERS_MISMATCH`, unknown parcel → `07`). Retrying the same `(parceldetailid, snapshotevent, snapshotsequence)` is **idempotent** — it returns the existing snapshot rather than storing a duplicate or re-notifying.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnapshotUpload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotUploadResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/ping/": {
      "post": {
        "operationId": "post_kiosk_ping",
        "summary": "Box heartbeat",
        "tags": [
          "kiosk"
        ],
        "description": "Records the box's last-seen time (returned as `datelastping` on the box) and returns only the envelope.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxPing"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxPingResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/kiosk/setup/": {
      "post": {
        "operationId": "post_kiosk_setup",
        "summary": "Set up a box from its code",
        "tags": [
          "kiosk"
        ],
        "description": "Establishes a machine's identity from `boxcode` and returns the full box record. A write; safe to call again.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxesSetup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxesSetupResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/pay/initialize/": {
      "post": {
        "operationId": "post_pay_initialize",
        "summary": "Initialize a Paystack payment",
        "tags": [
          "pay"
        ],
        "description": "Creates a Paystack transaction. Authentication accepts **either** a Business secret key (B2B) **or** an Application API key plus an optional `customerid` (B2C). `amount` is in major units — XOF francs; the gateway's `×100` is applied internally. Use `metadata.parcelreference` to mark a parcel paid, or `metadata.fulfil=\"wallet\"` to credit a business wallet. The response includes `authorizationurl` (hosted checkout) and `accesscode` (for the Paystack popup). `flowtype` is a **top-level** field (not inside `metadata`); it is mirrored to `metadata.flow` and returned as the transaction's `flowtype`. Server-acted `metadata` keys: `parcelreference` (mark a parcel paid), `fulfil: \"wallet\"` (credit a business wallet), `holdtoken` (finalize a checkout hold), `returnurl` (redirect from `/pay/return/`) and `narration` (wallet-credit text); the server also fills `applicationid`/`businessid`/`customerid`. With `flowtype: \"appless\"` and a top-level `phone`, the server SMSes the payment link.",
        "x-auth": "paystack_dual",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaystackInitialize"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaystackInitializeResponse"
                },
                "example": {
                  "statuscode": "00",
                  "statusmessage": "Successful",
                  "reference": "PRN123-1234567890",
                  "authorizationurl": "https://checkout.paystack.com/abc123",
                  "accesscode": "abc123"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/pay/success/": {
      "post": {
        "operationId": "post_pay_success",
        "summary": "Confirm a parcel payment",
        "tags": [
          "pay"
        ],
        "description": "Marks a parcel paid only when a successful payment bound to that parcel is found. The parcel and its `collectcode` are returned **only** when the payment is confirmed.",
        "x-auth": "app_key",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaySuccess"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaySuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/pay/verify/": {
      "post": {
        "operationId": "post_pay_verify",
        "summary": "Verify a Paystack payment",
        "tags": [
          "pay"
        ],
        "description": "Verifies a payment by `reference`, records it, and fulfils (parcel paid / wallet credit) idempotently. A previously-recorded success is never downgraded; replaying a reference is safe (fulfilment happens once). On a non-success status it returns `statuscode` 99 \"Payment not successful\" with `transactionstatus` = Paystack's status. Returns the parcel `collectcode` for parcel payments. `amount`/`fees` are in XOF francs (major unit); `paidat` is ISO 8601 UTC.",
        "x-auth": "paystack_dual",
        "x-readonly": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaystackVerify"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope (`statuscode`/`statusmessage`). `00` = success; a valid request with no results is `00` with an empty array (not `99`/`null`). Any other `statuscode` (e.g. `04`, `98`, `99`) indicates a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaystackVerifyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown path — returns the JSON envelope with `statuscode` `99`, not an HTML page."
          },
          "500": {
            "description": "Unexpected server error — returns the JSON envelope with `statuscode` `99`, not an ASP.NET page."
          }
        }
      }
    },
    "/pay/return/": {
      "get": {
        "operationId": "get_pay_return",
        "summary": "Payment return / landing page",
        "description": "Hosted callback page. Verifies the payment, fulfils it, then redirects to `metadata.returnurl` when present. Returns an HTML page (not JSON). Query parameters: `reference` (or `trxref`).",
        "tags": [
          "pay"
        ],
        "x-readonly": false,
        "parameters": [
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trxref",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML landing page (Payment successful / not completed)."
          }
        }
      }
    },
    "/pay/webhook/paystack/": {
      "post": {
        "operationId": "post_pay_webhook_paystack",
        "summary": "Paystack webhook",
        "description": "Server-to-server webhook. Paystack signs the raw body with HMAC-SHA512 using the secret key; the signature is sent in the `x-paystack-signature` header and validated. Handles `charge.success` and `charge.failed`. Returns HTTP 200 on success, 403 on invalid signature. Not called by clients.",
        "tags": [
          "pay"
        ],
        "x-readonly": false,
        "parameters": [
          {
            "name": "x-paystack-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Paystack event payload."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledged"
          },
          "403": {
            "description": "Invalid signature"
          }
        }
      }
    },
    "/customer/cards/add/complete/": {
      "get": {
        "operationId": "get_customer_cards_add_complete",
        "summary": "Card add callback (browser)",
        "description": "Browser landing page used as the Paystack `callback_url` after adding a card. Reads `reference`/`trxref`, verifies the transaction, and stores the card authorization code. Returns an HTML page with the outcome.",
        "tags": [
          "customer"
        ],
        "x-readonly": false,
        "parameters": [
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trxref",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML page (Add Card Successful / Failed)."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaystackVerifyResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "429",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 429 rate limited (per-key quota); 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "transactionstatus": {
            "type": "string",
            "enum": [
              "initialized",
              "success",
              "failed",
              "abandoned",
              "reversed",
              "ongoing",
              "pending",
              "processing",
              "queued"
            ],
            "description": "`initialized` = created, not yet confirmed; then Paystack's status. Terminal: `success`, `failed`, `abandoned`, `reversed` — stop polling. Non-terminal: `ongoing`, `pending`, `processing`, `queued` — keep polling. `/pay/status/` returns `statuscode` 00 and the value here; poll every ~5 s with backoff, stop on a terminal value."
          },
          "amount": {
            "type": "string"
          },
          "fees": {
            "type": "string",
            "description": "A **string**: the gateway fee **amount** (XOF), not a fee catalogue. See *Responses & errors*."
          },
          "currency": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "paidat": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "paidatiso": {
            "type": "string"
          },
          "authorizationcode": {
            "type": "string"
          },
          "customeremail": {
            "type": "string"
          },
          "businessid": {
            "type": "string"
          },
          "parceldetailid": {
            "type": "string"
          },
          "parcelreference": {
            "type": "string"
          },
          "collectcode": {
            "type": "string"
          },
          "dropcode": {
            "type": "string"
          },
          "processed": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        },
        "description": "Verified transaction details, including parcel collectcode when applicable."
      },
      "PaystackVerify": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "PaySuccessResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "429",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 429 rate limited (per-key quota); 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "transactionreference": {
            "type": "string"
          },
          "parcel": {
            "$ref": "#/components/schemas/PaySuccessData"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY, INVALID_RESET_CODE, RATE_LIMITED)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "PaySuccessData": {
        "type": "object",
        "properties": {
          "parcelid": {
            "type": "string"
          },
          "parceldetailid": {
            "type": "string"
          },
          "datecreated": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "parcelreferencenumber": {
            "type": "string"
          },
          "parcelrequesttypeid": {
            "type": "string"
          },
          "parcelrequesttype": {
            "type": "string"
          },
          "parcelstatusid": {
            "type": "string",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8"
            ],
            "description": "1 New parcel request; 2 Dropped parcel in locker; 3 Enroute to recipient; 4 Recipient collected parcel from locker; 5 Cancelled; 6 Archived; 7 Dispatch collected parcel from locker; 8 Reservation expired (awaiting drop-off past the deadline; locker released, fee forfeited). See /core/parcelstatuses/list/."
          },
          "parcelstatus": {
            "type": "string",
            "description": "Label of `parcelstatusid`; never empty — falls back to the id if a label is missing. See /core/parcelstatuses/list/."
          },
          "sizename": {
            "type": "string"
          },
          "boxname": {
            "type": "string"
          },
          "boxaddress": {
            "type": "string"
          },
          "boxstatename": {
            "type": "string"
          },
          "cityname": {
            "type": "string"
          },
          "recipientname": {
            "type": "string"
          },
          "recipientphone": {
            "type": "string"
          },
          "recipientemail": {
            "type": "string",
            "format": "email"
          },
          "sendername": {
            "type": "string"
          },
          "senderphone": {
            "type": "string"
          },
          "senderemail": {
            "type": "string",
            "format": "email"
          },
          "parcelamount": {
            "type": "string"
          },
          "deliveryamount": {
            "type": "string"
          },
          "grandtotal": {
            "type": "string"
          },
          "parcelsubdescription": {
            "type": "string"
          },
          "collectcode": {
            "type": "string"
          },
          "deliveryrequested": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          },
          "deliverypaid": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          },
          "recipientaddress": {
            "type": "string"
          },
          "deliveryarea": {
            "type": "string"
          },
          "datecreatediso": {
            "type": "string"
          }
        }
      },
      "PaySuccess": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "parcelreferencenumber": {
            "type": "string"
          },
          "transactionreference": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "PaystackStatusResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "429",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 429 rate limited (per-key quota); 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "transactionstatus": {
            "type": "string",
            "enum": [
              "initialized",
              "success",
              "failed",
              "abandoned",
              "reversed",
              "ongoing",
              "pending",
              "processing",
              "queued"
            ],
            "description": "`initialized` = created, not yet confirmed; then Paystack's status. Terminal: `success`, `failed`, `abandoned`, `reversed` — stop polling. Non-terminal: `ongoing`, `pending`, `processing`, `queued` — keep polling. `/pay/status/` returns `statuscode` 00 and the value here; poll every ~5 s with backoff, stop on a terminal value."
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "paidat": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "paidatiso": {
            "type": "string"
          },
          "processed": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          },
          "flowtype": {
            "type": "string",
            "description": "Informational payment flow, free-form: `web` (B2B/B2C) or `appless` (kiosk). The API does not validate it."
          },
          "parceldetailid": {
            "type": "string"
          },
          "businessid": {
            "type": "string"
          },
          "customerid": {
            "type": "string"
          }
        }
      },
      "PaystackStatus": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "PaySearchParcelResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "429",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 429 rate limited (per-key quota); 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "parcel": {
            "$ref": "#/components/schemas/SearchParcelData"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY, INVALID_RESET_CODE, RATE_LIMITED)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "SearchParcelData": {
        "type": "object",
        "properties": {
          "parcelid": {
            "type": "string"
          },
          "parceldetailid": {
            "type": "string"
          },
          "datecreated": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "parcelreferencenumber": {
            "type": "string"
          },
          "parcelrequesttypeid": {
            "type": "string"
          },
          "parcelrequesttype": {
            "type": "string"
          },
          "parcelstatusid": {
            "type": "string",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8"
            ],
            "description": "1 New parcel request; 2 Dropped parcel in locker; 3 Enroute to recipient; 4 Recipient collected parcel from locker; 5 Cancelled; 6 Archived; 7 Dispatch collected parcel from locker; 8 Reservation expired (awaiting drop-off past the deadline; locker released, fee forfeited). See /core/parcelstatuses/list/."
          },
          "parcelstatus": {
            "type": "string",
            "description": "Label of `parcelstatusid`; never empty — falls back to the id if a label is missing. See /core/parcelstatuses/list/."
          },
          "sizename": {
            "type": "string"
          },
          "boxid": {
            "type": "string"
          },
          "boxname": {
            "type": "string"
          },
          "boxaddress": {
            "type": "string"
          },
          "boxstatename": {
            "type": "string"
          },
          "cityname": {
            "type": "string"
          },
          "recipientname": {
            "type": "string"
          },
          "recipientphone": {
            "type": "string"
          },
          "recipientemail": {
            "type": "string",
            "format": "email"
          },
          "sendername": {
            "type": "string"
          },
          "senderphone": {
            "type": "string"
          },
          "senderemail": {
            "type": "string",
            "format": "email"
          },
          "parcelamount": {
            "type": "string"
          },
          "deliveryamount": {
            "type": "string"
          },
          "grandtotal": {
            "type": "string"
          },
          "parcelsubdescription": {
            "type": "string"
          },
          "parcelpaid": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          },
          "datecreatediso": {
            "type": "string"
          }
        }
      },
      "PaySearchParcel": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "parcelreferencenumber": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "PaystackInitializeResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "429",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 429 rate limited (per-key quota); 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "authorizationurl": {
            "type": "string"
          },
          "accesscode": {
            "type": "string"
          }
        },
        "description": "Paystack initialization result."
      },
      "PaystackInitialize": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "customerid": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "callbackurl": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "flowtype": {
            "type": "string",
            "description": "Informational payment flow, free-form: `web` (B2B/B2C) or `appless` (kiosk). The API does not validate it."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "apikey",
          "amount"
        ],
        "example": {
          "apikey": "<business secret key>",
          "email": "ama@example.com",
          "amount": "5000",
          "currency": "XOF",
          "metadata": {
            "fulfil": "wallet"
          }
        }
      },
      "ParcelSnapshotsResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "429",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 429 rate limited (per-key quota); 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "snapshots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParcelSnapshotsData"
            }
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY, INVALID_RESET_CODE, RATE_LIMITED)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "ParcelSnapshotsData": {
        "type": "object",
        "properties": {
          "snapshotid": {
            "type": "string"
          },
          "snapshotevent": {
            "type": "string",
            "enum": [
              "dropoff",
              "pickup"
            ],
            "description": "Snapshot event: `dropoff` (at drop-off) or `pickup` (at collection)."
          },
          "snapshotsequence": {
            "type": "string",
            "enum": [
              "1",
              "2"
            ],
            "description": "1 = taken when the locker is unlocked; 2 = taken after the door is closed."
          },
          "snapshoturl": {
            "type": "string"
          },
          "imagedatetime": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "datecreated": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "imagedatetimeiso": {
            "type": "string"
          },
          "datecreatediso": {
            "type": "string"
          }
        }
      },
      "ParcelSnapshots": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "parceldetailid": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "SnapshotUploadResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "429",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 429 rate limited (per-key quota); 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "snapshotid": {
            "type": "string"
          },
          "snapshoturl": {
            "type": "string"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY, INVALID_RESET_CODE, RATE_LIMITED)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "BoxesSetupResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "429",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 429 rate limited (per-key quota); 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "box": {
            "$ref": "#/components/schemas/BoxData"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY, INVALID_RESET_CODE, RATE_LIMITED)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "BoxData": {
        "type": "object",
        "properties": {
          "boxid": {
            "type": "string"
          },
          "boxcode": {
            "type": "string"
          },
          "boxname": {
            "type": "string"
          },
          "boxcapacity": {
            "type": "string"
          },
          "lockersavailable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          },
          "boxaddress": {
            "type": "string"
          },
          "boxlongitude": {
            "type": "string"
          },
          "boxlatitude": {
            "type": "string"
          },
          "cityid": {
            "type": "string"
          },
          "cityname": {
            "type": "string"
          },
          "stateid": {
            "type": "string"
          },
          "statename": {
            "type": "string"
          },
          "lockersinuse": {
            "type": "string"
          },
          "lockersfree": {
            "type": "string"
          },
          "boxdescription": {
            "type": "string"
          },
          "datecreated": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "networkid": {
            "type": "string"
          },
          "networkname": {
            "type": "string"
          },
          "boxonline": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          },
          "datelastping": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "datecreatediso": {
            "type": "string"
          },
          "datelastpingiso": {
            "type": "string"
          }
        }
      },
      "BoxesSetup": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "boxcode": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "BoxPingResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "429",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 429 rate limited (per-key quota); 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY, INVALID_RESET_CODE, RATE_LIMITED)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "BoxPing": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "boxid": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "SnapshotUpload": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "boxid": {
            "type": "string",
            "description": "Must match the box of the parcel identified by `parceldetailid`."
          },
          "parcelid": {
            "type": "string",
            "description": "Must match the parcel identified by `parceldetailid`."
          },
          "parceldetailid": {
            "type": "string",
            "description": "**Authoritative.** The server resolves the parcel from this id and verifies `parcelid`, `parcelreferencenumber`, `boxid` (and `boxlockernumber` when supplied) agree with it. Not found → `07`; a mismatch → `09 PARCEL_IDENTIFIERS_MISMATCH`."
          },
          "parcelreferencenumber": {
            "type": "string",
            "description": "Must match the parcel identified by `parceldetailid`."
          },
          "boxlockernumber": {
            "type": "string",
            "description": "Optional. When supplied it must match the parcel’s current locker."
          },
          "snapshotevent": {
            "type": "string",
            "enum": [
              "dropoff",
              "pickup"
            ],
            "description": "Snapshot event: `dropoff` (at drop-off) or `pickup` (at collection)."
          },
          "snapshotsequence": {
            "type": "string",
            "enum": [
              "1",
              "2"
            ],
            "description": "1 = taken when the locker is unlocked; 2 = taken after the door is closed."
          },
          "image": {
            "type": "string"
          },
          "imagedatetime": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          }
        },
        "required": [
          "apikey"
        ]
      },
      "DropParcelResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "429",
              "98",
              "99"
            ],
            "description": "Result code: 00 success; 01 no post data; 02 invalid post data (JSON parse error); 03 null post data; 04 missing required field; 05 invalid field value; 06 value not in the allowed set; 07 not found; 08 conflict; 09 business-rule refusal (not retryable); 10 insufficient balance; 11 reserved; 429 rate limited (per-key quota); 98 authentication failed; 99 unexpected server error (retryable). See `errorcode` for a stable identifier and `retryable`."
          },
          "statusmessage": {
            "type": "string"
          },
          "parcel": {
            "$ref": "#/components/schemas/DropParcelData"
          },
          "errorcode": {
            "type": "string",
            "description": "Stable, language-invariant error identifier (empty on success). Derived from `statuscode`: MISSING_FIELD, INVALID_FIELD, NOT_ALLOWED_VALUE, NOT_FOUND, CONFLICT, BUSINESS_RULE, INSUFFICIENT_BALANCE, RESERVED, AUTHENTICATION_FAILED, INTERNAL_ERROR; specific codes are used where meaningful (e.g. PAYMENT_ALREADY_USED, LOCKER_NOT_AVAILABLE, CREDIT_ADMIN_ONLY, INVALID_RESET_CODE, RATE_LIMITED)."
          },
          "errorfield": {
            "type": "string",
            "description": "Request field implicated in the error, when applicable (empty otherwise)."
          },
          "retryable": {
            "type": "string",
            "enum": [
              "True",
              "False"
            ],
            "description": "Boolean serialized by the server as the string \"True\" or \"False\"."
          }
        }
      },
      "DropParcelData": {
        "type": "object",
        "properties": {
          "parcelid": {
            "type": "string"
          },
          "parceldetailid": {
            "type": "string"
          },
          "datecreated": {
            "type": "string",
            "pattern": "^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (AM|PM)$",
            "description": "Date/time as served: M/d/yyyy h:mm:ss AM/PM, no timezone (server is UTC+1)."
          },
          "parcelreferencenumber": {
            "type": "string"
          },
          "parcelrequesttypeid": {
            "type": "string"
          },
          "parcelrequesttype": {
            "type": "string"
          },
          "couriername": {
            "type": "string"
          },
          "parcelstatus": {
            "type": "string",
            "description": "Label of `parcelstatusid`; never empty — falls back to the id if a label is missing. See /core/parcelstatuses/list/."
          },
          "sizename": {
            "type": "string"
          },
          "boxname": {
            "type": "string"
          },
          "boxaddress": {
            "type": "string"
          },
          "boxstatename": {
            "type": "string"
          },
          "cityname": {
            "type": "string"
          },
          "recipientname": {
            "type": "string"
          },
          "recipientphone": {
            "type": "string"
          },
          "recipientemail": {
            "type": "string",
            "format": "email"
          },
          "sendername": {
            "type": "string"
          },
          "senderphone": {
            "type": "string"
          },
          "senderemail": {
            "type": "string",
            "format": "email"
          },
          "userid": {
            "type": "string"
          },
          "customerid": {
            "type": "string"
          },
          "parcelamount": {
            "type": "string"
          },
          "itemcount": {
            "type": "string"
          },
          "parcelsubdescription": {
            "type": "string"
          },
          "dropcode": {
            "type": "string"
          },
          "boxlockerid": {
            "type": "string"
          },
          "boxlockernumber": {
            "type": "string"
          },
          "lockerstatus": {
            "type": "string",
            "enum": [
              "Vacant",
              "Reserved",
              "Occupied"
            ],
            "description": "Locker state: Vacant = empty; Reserved = empty but held for a parcel; Occupied = holds a parcel. See /core/lockerstatuses/list/."
          },
          "datecreatediso": {
            "type": "string"
          }
        }
      },
      "DropParcel": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string"
          },
          "boxid": {
            "type": "string"
          },
          "unlockcode": {
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "CollectParcelResponse": {
        "type": "object",
        "properties": {
          "statuscode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "429",
              "98",
              "99"
            ],
[...]
